---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of the new diazo theme"
base_url: "../../"
---
<div class="o-page" id="content">
    <section class="o-page__section o-page__section--default">
        <div class="c-panel c-panel--primary">
            <div class="c-panel__main c-panel__main--centered">
                {% include components/widget-banner.html %}
            </div>
            <div class="c-panel__aside">
                <div class="c-panel__actions">
                    <a class="c-panel__action" href="#add-new-panel">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" width="64" height="64" viewBox="0 0 64 64">
                            <style>
                                .st3{fill:none;stroke:#ffffff;stroke-width:2;stroke-miterlimit:10}
                            </style>
                            <path d="M14.157 32h35.686M32 14.157v35.686" class="st3"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="o-page__section o-page__section--default">
        <div class="c-panel c-panel--secondary">
            <div class="c-panel__main c-panel__main--centered">
                {% include components/widget-news.html %}
            </div>
            <div class="c-panel__aside">
                <div class="c-panel__actions">
                    <a class="c-panel__action" href="#add-new-panel">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" width="64" height="64" viewBox="0 0 64 64">
                            <style>
                                .st3{fill:none;stroke:#ffffff;stroke-width:2;stroke-miterlimit:10}
                            </style>
                            <path d="M14.157 32h35.686M32 14.157v35.686" class="st3"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="o-page__section o-page__section--gutter">
        <div class="c-panel c-panel--default">
            <div class="c-panel__main c-panel__main--centered">
                <div class="c-widget c-widget--card-list">
                    <div class="o-grid o-grid--gutter">
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-panel__aside">
                <div class="c-panel__actions">
                    <a class="c-panel__action" href="#add-new-panel">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="o-page__section o-page__section--gutter">
        <div class="c-panel c-panel--default">
            <div class="c-panel__main c-panel__main--centered">
                <div class="c-widget c-widget--card-list">
                    <div class="o-grid o-grid--gutter">
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                        <div class="o-grid__item o-grid__item--width-25">
                            {% include components/card.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-panel__aside">
                <div class="c-panel__actions">
                    <a class="c-panel__action" href="#add-new-panel">
                        Add
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
