---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of the new diazo theme"
base_url: "../../"
---
<div class="o-page o-page--panels" id="content">

    <section class="o-page__section o-page__section--default">
        <div class="c-panels c-panels--header c-panels--view">
            <section class="c-panel c-panel--editable c-panel--2 c-panel--centered">
                <div class="c-panel__header">
                    <div class="c-panel__controls">
                        <a class="c-panel__control c-panel__icon" href="http://web.hph.t23dev/hochschule/@@panel-edit?section=header&amp;panel=1">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" width="100%" height="100%" viewBox="0 0 64 64">
                                <style>
                                    .o-icon__pen--path{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:currentColor;stroke-width:2;stroke-miterlimit:10}
                                </style>
                                <path d="M27.925 46.229L17.771 36.075M44.818 29.336L34.664 19.182l4.979-4.979a4.22 4.22 0 0 1 5.966 0l4.188 4.188a4.22 4.22 0 0 1 0 5.966l-4.979 4.979z" class="o-icon__pen--path"></path>
                                <path d="M27.925 46.229l-14.957 4.803 4.803-14.957 16.893-16.893 10.154 10.154-16.893 16.893zM15.609 42.806l5.585 5.585" class="o-icon__pen--path"></path>
                            </svg>

                        </a>
                    </div>

                </div>
                <div class="c-panel__main">
                    {% include components/widget-banner.html %}
                </div>
            </section>
            <section class="c-panel c-panel--editable c-panel--2 c-panel c-panel--centered">
                <div class="c-panel__header">
                    <div class="c-panel__controls">
                        <a class="c-panel__control c-panel__icon" href="http://web.hph.t23dev/hochschule/@@panel-edit?section=header&amp;panel=1">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" width="100%" height="100%" viewBox="0 0 64 64">
                                <style>
                                    .o-icon__pen--path{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:currentColor;stroke-width:2;stroke-miterlimit:10}
                                </style>
                                <path d="M27.925 46.229L17.771 36.075M44.818 29.336L34.664 19.182l4.979-4.979a4.22 4.22 0 0 1 5.966 0l4.188 4.188a4.22 4.22 0 0 1 0 5.966l-4.979 4.979z" class="o-icon__pen--path"></path>
                                <path d="M27.925 46.229l-14.957 4.803 4.803-14.957 16.893-16.893 10.154 10.154-16.893 16.893zM15.609 42.806l5.585 5.585" class="o-icon__pen--path"></path>
                            </svg>

                        </a>
                    </div>

                </div>
                <div class="c-panel__main">
                    {% include components/widget-news.html %}
                </div>
            </section>
        </div>
        <div class="c-panels c-panels--main c-panels--view">

            <section class="c-panel c-panel--editable c-panel--2 c-panel--centered">
                <div class="c-panel__header">
                </div>
                <div class="c-panel__main">
                    {% include components/widget-focal-points.html %}
                </div>
            </section>
            <section class="c-panel c-panel--editable c-panel--2 c-panel--centered">
                <div class="c-panel__header">
                </div>
                <div class="c-panel__main">
                    {% include components/component-interferer.html %}
                </div>
            </section>
            <section class="c-panel c-panel--editable c-panel--2 c-panel--centered">
                <div class="c-panel__header">
                </div>
                <div class="c-panel__main">
                    {% include components/widget-external-links.html %}
                </div>
            </section>
        </div>
        <div class="c-panels c-panels--footer c-panels--view">

        </div>
    </section>
</div>
