///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$app-config: (
    env: dev,
    healthcheck: false,
    debug: true,
);

// You can access data in this map using the following function:
//
// app-config(<key>)
//
// Example usage:
//
// @if (app-config(debug) == true) { ...  }

@function app-config($key) {
    @return map-get($app-config, $key);
}
