$o-page-header-margin-bottom:           calc(#{$app-font-size-base} * 1.5);

$o-page-font-size-base:                 1.25rem;
$o-page-font-size-lg:                   1.5rem;
$o-page-font-weight:                    300;
$o-page-line-height:                    1.5;
