///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$enable-responsive-font-sizes:              true;

$font-size-small: 1rem !default;
$font-size-normal: 1.25rem !default;
$font-size-large: 1.5rem !default;

// Elements


// WYSIWYG Styles
$app-wysiwyg-editor-padding: 1rem;


