<div class="c-card c-card--news">
    <div class="c-card__header">
        <div class="c-card__date">
            12.03.2019 | Studium
        </div>
        <h2 class="c-card__title">
            Tagung "Empathie"
        </h2>
    </div>
    <div class="c-card__main">
        <p>Am 7. Dezember findet eine interdisziplinäre Tagung von Philosophen, Psychotherapeutinnen und Psychiatern statt, die sich dem Thema "Empathie" widmen wird.</p>

    </div>
    <div class="c-card__footer">
        <div class="o-read-more">
            <span class="o-read-more__icon">
                <a href="#">
                    <svg class="o-icon o-icon--default o-icon--circle o-icon__ui--chevron-dims">
                        <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use>
                    </svg>
                </a>
            </span>
            <span class="o-read-more__text">
            <a href="#">Weiterlesen</a>
            </span>
        </div>
    </div>
</div>
