<div class="c-text-block c-text-block--default">
    <div class="c-text-block__content c-text-block__content--fallback">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda blanditiis corporis dolorem explicabo fugiat iure laboriosam magnam modi mollitia nesciunt, qui quibusdam quidem quod recusandae repellat repudiandae saepe tempora?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi debitis, deleniti ea earum excepturi harum illo laboriosam minima molestiae neque nisi non quaerat qui quia rem repellendus saepe totam.</p>
    </div>
</div>
