<ul class="c-meta-nav o-menu o-menu--meta" id="footer-meta-de">
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/kontakt">
            Kontakt
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/impressum">
            Impressum
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/datenschutzerklaerung">
            Datenschutz
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/hochschule/organisation/presse-oeffentlichkeitsarbeit">
            Presse
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/newsletter">
            Newsletter
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/hochschule/stellenangebote">
            Stellenangebote
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/studierende/studentisches-leben/spirituelle-angebote/denken-beten">
            Denken und Beten
        </a>
    </li>
</ul>

<ul class="c-meta-nav o-menu o-menu--meta" id="footer-meta-en">
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/kontakt">
            Contact
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/imprint">
            Imprint
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="/data-protection-policy">
            Data protection
        </a>
    </li>
    <!--<li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="#meta-section">
            Press
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="#meta-section">
            Newsletter
        </a>
    </li>-->
</ul>