<div class="c-quick-links dropmic"
     data-dropmic="quick-link-menu"
     data-dropmic-direction="bottom-right">
    <button class="c-quick-links__button js-dropdown-toggle"
            id="js-quick-link-toggle"
            type="button"
            data-dropmic-btn>
        
        <span class="c-quick-links__icon" id="c-quick-links-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" viewBox="0 0 502.9 502.9">
                <style>
                    .link-chain{fill:#182f7a}
                </style>
                <g>
        <path class="link-chain" d="M294.3,324.8L123.8,154.3c-18.6-18.6-18.6-48.8,0-67.4l25.3-25.3c18.6-18.6,48.8-18.6,67.4,0L387,232.1
        c8.4-31.8,0.5-66.9-24.4-91.8L250.2,27.9c-37.2-37.2-97.6-37.2-134.9,0L90.1,53.2c-37.2,37.2-37.2,97.6,0,134.9l112.4,112.4
        C227.3,325.3,262.5,333.1,294.3,324.8z"/>
    <path class="link-chain" d="M412.8,314.8L300.4,202.5c-24.9-24.9-60-32.7-91.8-24.3l170.5,170.4c18.6,18.6,18.6,48.8,0,67.4l-25.3,25.3
        c-18.6,18.6-48.9,18.6-67.4,0L115.9,270.8c-8.4,31.8-0.5,66.9,24.3,91.8l112.4,112.4c37.2,37.2,97.6,37.2,134.9,0l25.3-25.3
        C450,412.3,450,352,412.8,314.8z"/>
</g>
        </span>
        <span class="c-quick-links__text">Quick-Links</span>
    </button>
    <div class="dropmic-menu o-dropdown" aria-hidden="true">
        <div class="o-dropdown__content">
            <ul class="o-dropdown__list" id="quick-links">
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 1</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 2</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 3</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 4</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 5</a>
                </li>
            </ul>
        </div>
    </div>
</div>
