<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">App Box Title</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" src="holder.js/220x220">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">Master-Studium</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" src="holder.js/220x220">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">App Box Title</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                       <img class="app-img" src="holder.js/220x220">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">Master-Studium</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" src="holder.js/220x220">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>