<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">App Box Title</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" width="200" height="133" src="http://localhost:8499/hph/nachrichten/vortrag-von-pater-bordt/@@images/19377011-e46e-4f58-8596-717d4c8b1952.jpeg">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">Master-Studium</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" width="200" height="133" src="http://localhost:8499/hph/nachrichten/master-studium/@@images/d004adf6-bd90-4aef-b658-b4cd55f40e83.jpeg">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">App Box Title</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" width="200" height="133" src="http://localhost:8499/hph/nachrichten/vortrag-von-pater-bordt/@@images/19377011-e46e-4f58-8596-717d4c8b1952.jpeg">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="app-box app-box-aside app-box-news">
            <div class="app-box-header">
                <h4 class="app-box-heading">
                    <a href="#">Master-Studium</a>
                </h4>
            </div>
            <div class="app-box-body">
                <div class="app-box-item">
                    <a href="'">
                        <img class="app-img" width="200" height="133" src="http://localhost:8499/hph/nachrichten/master-studium/@@images/d004adf6-bd90-4aef-b658-b4cd55f40e83.jpeg">
                    </a>
                    <p class="text-discreet">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="app-box-footer text-right">
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>