<aside class="app-box app-box-striped app-box-events">
    <div class="app-box-header">
        <h4 class="app-box-heading">
            <a href="#">App Box Title</a>
        </h4>
    </div>
    <div class="app-box-content">
        <a class="app-box-item">
            <time class="app-box-date h5">13.13.2013</time>
            Albert-Keller-Lecture:  Glaube und Freiheit. Kardinal Reinhard Marx.
            <i class="icon-double-angle-right pull-right"></i>
        </a>
        <a class="app-box-item">
            <time class="app-box-date h5">13.13.2013</time>
            Albert-Keller-Lecture:  Glaube und Freiheit. Kardinal Reinhard Marx.
            <i class="icon-double-angle-right pull-right"></i>
        </a>
        <a class="app-box-item">
            <time class="app-box-date h5">13.13.2013</time>
            Albert-Keller-Lecture:  Glaube und Freiheit. Kardinal Reinhard Marx.
            <i class="icon-double-angle-right pull-right"></i>
        </a>
    </div>
    <div class="app-box-footer text-right">
        <a class="btn btn-default btn-sm" href="#">
            App box more
        </a>
    </div>
</aside>