<div class="app-brandbar">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <a class="brandbar-brand" id="brandbar-brand" href="#">
                Hochschule f&uuml;r Philosophie M&uuml;nchen
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="brandbar-label" id="brandbar-label">
                Bereich
            </div>
            <div class="brandbar-sectionname" id="brandbar-sectionname">
                Hochschule
            </div>
        </div>
    </div>
</div>