<div class="app-brandbar">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <a class="brandbar-brand" id="brandbar-brand" href="#">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/logo-igp.png" alt="Institut für Gesellschaftspolitik"/>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="brandbar-sectionname" id="brandbar-sectionname">
                Hochschule
            </div>
        </div>
    </div>
</div>