<footer class="container app-footer" id="app-footer">
  <div class="app-tile app-footer-content" id="app-footer-content">
    <ul class="nav nav-pills">
      <li><a href="http://www.ab-soft.de/hfph/raumplan.php">Raumplan</a></li>
      <li><a href="/login_form">Login</a></li>
      <li><a href="/presse-oeffentlichkeitsarbeit">Presse</a></li>
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="https://www.jesuiten.org/index.php?id=360"><i class="icon-pencil"></i> Online-Spende</a></li>
      <li><a href="/pro-philosophia">pro philosophia</a></li>
      <li><a href="#"><i class="icon-envelope"></i> Newsletter abonnieren</a></li>
    </ul>
  </div>
</footer> <!-- /footer -->
