    <footer id="site-footer" class="container tile">
      <div id="footer">
        <ul class="nav nav-pills">
          <li><a href="#">Dialogportal</a></li>
          <li><a href="#">Presse</a></li>
          <li><a href="#">Impressum</a></li>
          <li><a class="donation" href="#">Online-Spende</a></li>
          <li><a href="#">pro philosophia</a></li>
        </ul>
      </div>
    </footer> <!-- /footer -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>
