<footer class="container app-footer hidden-print" id="app-footer">
  <div class="app-tile app-footer-content" id="app-footer-content">
    <ul class="nav nav-pills">
      <li><a href="http://www.ab-soft.de/hfph/raumplan.php">Raumplan</a></li>
      <li><a href="http://katalog.bib-bvb.de/avanti/hphigp/opac.html target="_blank">OPAC-Recherche</a></li>
      <li><a href="/login_form">Login</a></li>
      <li><a href="/presse-oeffentlichkeitsarbeit">Presse</a></li>
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="http://spenden.jesuiten.org/index.php?id=80"><i class="icon-pencil"></i> Online-Spende</a></li>
      <li><a href="/pro-philosophia">pro philosophia</a></li>
      <li><a href="/newsletter"><i class="icon-envelope"></i> Newsletter abonnieren</a></li>
    </ul>
  </div>
</footer> <!-- /footer -->
