<!--<dl class="portalMessage error">
    <dt>Fehler</dt>
    <dd>Die Verwendung von Cookies ist nicht erlaubt. Sie müssen Cookies erlauben, bevor Sie sich anmelden können.</dd>
</dl>-->
<form class="enableAutoFocus" action="." id="login_form" method="post">

    <div id="login-form">
        <div class="field">
            <label for="__ac_name">Benutzername</label>
            <input type="text" id="__ac_name" value="" name="__ac_name" size="15">
        </div>
        <div class="field">
                <label for="__ac_password">Passwort</label>
                <input type="password" id="__ac_password" name="__ac_password" size="15">
        </div>
        <div class="formControls text-right">
            <a class="btn btn-link btn-sm" href="http://127.0.0.1:8499/hph/mail_password_form?userid=">Passwort vergessen?</a>
            <input type="submit" value="Anmelden" name="submit" class="btn btn-primary btn-lg">
        </div>
    </div>
</form>
<hr>