<div class="container">
<nav id="main-navigation" class="navbar site-navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="xxhome-btn" href="#" class="navbar-brand">
      <i class="icon-stop"></i>
    </a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav nav-justified xnavbar-nav" id="portal-navigation">
            <li class="navitem" id="tab-hochschule">
                <a href="http://localhost:8499/hph/hochschule">Hochschule</a>
            </li>
            <li class="navitem" id="tab-studium">
                <a href="http://localhost:8499/hph/studium">Studium</a>
            </li>
            <li class="navitem" id="tab-forschung">
                <a href="http://localhost:8499/hph/forschung">Forschung</a>
            </li>
            <li class="navitem" id="tab-impulse">
                <a href="http://localhost:8499/hph/impulse">Impulse</a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>
</div>