<div class="app-actionbar" id="app-actionbar">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <ul class="nav nav-tabs app-actionbar-nav" id="app-sections">
                <li><a href="/">Deutsch</a></li>
                <li><a href="/en">English</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3">
            <form class="form app-actionbar-form" id="nav-search" role="form" method="post" action="/hph/@@search">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button">
                        <i class="fa fa-search fa-flip-horizontal"></i>
                    </button>
                  </span>
                  <input type="text" class="form-control input-sm" name ="SearchableText" id="SearchableText" placeholder="Suche">
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
</div>