<div class="app-actionbar">
    <div class="row" id="app-actionbar">
        <div class="col-xs-12 col-lg-9">
            <ul class="nav nav-tabs app-actionbar-nav pull-right" id="sections">
                <li><a href="/hochschule">Hochschule</a></li>
                <li><a href="/studium">Studium</a></li>
                <li><a href="/forschung">Forschung</a></li>
                <li><a href="/impulse">Impulse</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-3">
            <form class="form app-actionbar-form" id="nav-search">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button">
                        <i class="icon-search icon-flip-horizontal"></i>
                    </button>
                  </span>
                  <input type="search" class="form-control input-sm">
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
</div>