<div class="meta-wrapper">
    <div class="row" id="xmeta">
        <div class="col col-lg-6 col-offset-3">
            <ul class="nav nav-tabs metasections pull-left" id="sections">
                <li><a href="/hochschule">Hochschule</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/studium">Studium</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/forschung">Forschung</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/impulse">Impulse</a></li>
                <li class="divider-vertical"></li>
            </ul>
        </div>
        <div class="col col-lg-3">
            <form id="nav-search" class="form-inline navbar-form pull-right">
                <div class="input-group col-lg-7">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Suche</button>
                  </span>
                  <input type="text">
                </div>
            </form>
        </div>
    </div>
</div>