<section class="container" id="subnavbar">
    <div class="app-tile app-subnavbar" id="app-subnavbar">
        <ul class="nav nav-pills xnav-justified app-subnav" id="app-subnavigation">
            <li class="navitem" id="tab-studiengaenge">
                <a href="http://127.0.0.1:8499/hph/studium/studiengaenge">Studiengänge</a>
            </li>
            <li class="navitem" id="tab-lehrveranstaltungen">
                <a href="http://127.0.0.1:8499/hph/studium/lehrveranstaltungen">Lehrveranstaltungen</a>
            </li>
            <li class="navitem" id="tab-bibliotheken">
                <a href="http://127.0.0.1:8499/hph/studium/bibliotheken">Bibliotheken</a>
            </li>
            <li class="navitem" id="tab-einschreibung">
                <a href="http://127.0.0.1:8499/hph/studium/einschreibung">Einschreibung</a>
            </li>
            <li class="navitem" id="tab-foerderung">
                <a href="http://127.0.0.1:8499/hph/studium/foerderung">Förderung</a>
            </li>
            <li class="navitem" id="tab-studentisches-leben">
                <a href="http://127.0.0.1:8499/hph/studium/studentisches-leben">Studentisches Leben</a>
            </li>
        </ul>
    </div>
</section>