<div class="container app-tickerbar" id="app-tickerbar">
    <div class="app-tile app-ticker">
        <div class="row">
            <div class="col-xs-2">
                <strong><i class="fa fa-exclamation-triangle fa-lg"></i>
                    Wichtiger Hinweis:</strong>
            </div>
            <div class="col-xs-9">
                <div class="marquee app-marquee"
                    data-duplicated="true">
                    A small notification
                </div>
            </div>
            <div class="col-xs-1">
                <a href="/schwarzes-brett">
                    mehr&hellip;</a>
            </div>
        </div>
    </div>
</div>