<div class="navbar navbar-inverse navbar-fixed-top app-toolbar" id="app-toolbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".app-toolbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CMS</a>
    </div>
    <div class="navbar-collapse collapse app-toolbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Inhalte</a></li>
          <li><a href="#about">Anzeigen</a></li>
          <li><a href="#contact">Bearbeiten</a></li>
          <li><a href="#contact">Teilen</a></li>
          <li><a href="#contact">Regeln</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li id="plone-personal-actions" class="dropdown dropdown-userinfo">
            <a data-toggle="dropdown" class="dropdown-toggle" href="/author/123456789">
              <span>John Doe</span>
              <b class="caret">
            </b></a>
            <ul class="dropdown-menu"><li id="plone-personal-actions-dashboard">
                <a href="/dashboard">My workspace</a>
              </li>
              <li id="plone-personal-actions-preferences">
                <a href="/preferences">Settings</a>
              </li>
              <li id="plone-personal-actions-plone_setup">
                <a href="/controlpanel">Configuration</a>
              </li>
              <li id="plone-personal-actions-logout">
                <a href="/logout">Signout</a>
              </li>
            </ul></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Folder</a></li>
                <li><a href="#">Document</a></li>
                <li><a href="#">Image</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Settings</li>
                <li><a href="#">Filter options</a></li>
                <li><a href="#">Add...</a></li>
              </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>