o-icon__brand--facebook-dims {
	width: 430.12px;
	height: 430.12px;
}

o-icon__brand--linkedin-dims {
	width: 512px;
	height: 512px;
}

o-icon__brand--twitter-dims {
	width: 512px;
	height: 512px;
}

o-icon__brand--xing-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--calendar-clock-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--classroom-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--counseling-dims {
	width: 96.5px;
	height: 93.6px;
}

o-icon__content--download-action-dims {
	width: 52.8px;
	height: 52.8px;
}

o-icon__content--icon-forschungsprojekte-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-lehrende-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-semestertermine-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-studienberatung-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-studiendownloads-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-studium-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-vorlesungsverzeichnis-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--icon-weiterbildung-dims {
	width: 485.2px;
	height: 485.2px;
}

o-icon__content--research-dims {
	width: 100px;
	height: 92.1px;
}

o-icon__content--teacher-dims {
	width: 489.4px;
	height: 489.4px;
}

o-icon__icon-check-dims {
	width: 18px;
	height: 14px;
}

o-icon__icon-dots-dims {
	width: 36px;
	height: 36px;
}

o-icon__icon-menu-dims {
	width: 36px;
	height: 36px;
}

o-icon__icon-plone-dims {
	width: 36px;
	height: 36px;
}

o-icon__icon-ui-hide-dims {
	width: 64px;
	height: 64px;
}

o-icon__icon-ui-link-dims {
	width: 512px;
	height: 512px;
}

o-icon__icon-ui-pen-dims {
	width: 64px;
	height: 64px;
}

o-icon__icon-ui-plus-dims {
	width: 64px;
	height: 64px;
}

o-icon__icon-ui-plus-sign-dims {
	width: 64px;
	height: 64px;
}

o-icon__icon-ui-see-dims {
	width: 64px;
	height: 64px;
}

o-icon__icon-widget-text-block-dims {
	width: 64px;
	height: 64px;
}

o-icon__ui--add-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--alert-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--calendar-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--check-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--chevron-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--chevron-left-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--close-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--dots-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--globe-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--information-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--minus-dims {
	width: 100px;
	height: 100px;
}

o-icon__ui--more-horizontal-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--more-vertical-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--pen-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--people-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--plus-dims {
	width: 64px;
	height: 64px;
}

o-icon__ui--print-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--remove-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--reorder-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--timer-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--trash-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--warning-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--card-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hph-accordion-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hph-image-poster-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hph-slider-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hph-teaser-events-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hph-teaser-links-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hph-teaser-links-external-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--image-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--separator-dims {
	width: 24px;
	height: 24px;
}

o-icon__widget--text-block-dims {
	width: 64px;
	height: 64px;
}

o-icon__widget--text-formatted-dims {
	width: 64px;
	height: 64px;
}

o-icon__widget--text-html-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--tile-dims {
	width: 100px;
	height: 100px;
}

