<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    {% include toolbar.html %}
    <header class="container app-header" id="app-header" role="banner">
        <div class="app-tile app-header-content" id="app-header-content">
            {% include metanav.html %}
            {% include brandbar.html %}
            {% include mainnavbar.html %}
        </div>
        {% include subnavbar.html %}
    </header><!-- /app-header -->
        {% include breadcrumbs.html %}

    <div class="container app-main" id="app-main">
        <div class="app-tile">
            <div class="row">
                <div class="col-xs-12 col-sm-3" id="app-col-sidebar" role="contentinfo">
                    <aside class="app-sidebar" id="app-sidebar">
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-9" role="main" id="app-col-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include javascript.html %}
    
    <div class="app-js-slot">
        {% include webfonts.html %}
        {% include piwik.html %}
    </div>

  </body>
</html>