!cache_control_assets.conf
!disable_logging.conf
!proxy_settings.conf
# build
# Enable nginx specific settings
*-ck.js
*.EGG
*.egg
*.EGG-INFO
*.egg-info
*.eggs
*.mo
*.pyc
*.pyo
.bzr
.codeintel
.hg
.installed.cfg
.mr.developer.cfg
.Python
.python-version
.svn
.vscode
/.vscode
/env/*
/ENV/*
/venv/*
_site
bin
build/docker/nginx/site.conf
coverage
develop-eggs
dist
downloads
eggs
etc/**/*
fabfile.py
fake-eggs
include
lib
local.cfg
parts
pip-selfcheck.json
secret.cfg
src/ade25.*
src/bobtemplates.*
src/collective.*
src/kk.tiles
src/plone.*
src/sauna.reload
src/vwc.*
var
