*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
coverage
downloads
eggs
fabfile.py
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
var
.hg
.bzr
.svn
*.pyc
*.pyo
*-ck.js
.codeintel
etc/**/*
src/sauna.reload
src/vwc.toolbar
src/ade25.*
src/kk.tiles