# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:lxml-parts}
    zeoserver
    instance1
    instance2
    instance3
    instance4
    instance-debug
    supervisor
    tmpdir
    backup
    repozo

    ${buildout:haproxy-parts}
    ${buildout:varnish-parts}
    ${buildout:nginx-parts}

extends =
    packages.cfg
    buildout.d/lxml.cfg
    buildout.d/haproxy.cfg
    buildout.d/varnish.cfg
    buildout.d/nginx.cfg
    sources.cfg
    secret.cfg

# Create local caches so that we get completely self-contained buildouts.
# These directories must be created before the buildout is run the first time.
eggs-directory  = /opt/buildout-cache/eggs
download-cache  = /opt/buildout-cache/downloads
extends-cache   = /opt/buildout-cache/extends

# If you release internal eggs to an internal server, you should reference
# a page that lists all those eggs here. The easiest way is to allow scp
# access to a directory that's served by nginx or Apache and enable automatic
# directory indexing/listing of that directory. Then use ./bin/mkrelease to
# release your internal eggs here, and add to the [versions] block in
# versions.cfg.

# find-links = http://my-internal-server/eggs

# Packages to check out/update when buildout is run
# Clear this out if you want to stick to internally released eggs - see above.
auto-checkout =
    ade25.panelpage
    ade25.toolbar
    collective.easyform
    collective.embedly
    collective.z3cform.datagridfield
    hph.bulletinboard
    hph.corporatetheme
    hph.faculty
    hph.lectures
    hph.membership
    hph.policy
    hph.publications
    hph.sitecontent
    hph.sitetheme
    kk.tiles
    ade25.base


# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false

# Host names/IP addresses. See below for corresponding ports.
[hosts]
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = hfph.de
public1         = hfph.mwn.de
private         = hfph.de
cms             = hph.coraggio.de
demo            = hfph.kreativkombinat.de
# The host that nginx proxies to
nginx-backend   = ${:varnish}
# The hostname/address that Varnish binds to
varnish         = localhost
# The hosts that are allowed to issue PURGE reuqests to Varnish
allow-purge     = localhost
# The IP address that Varnish proxies to (do not use a hostname)
varnish-backend = 127.0.0.1
# The hostname that HAProxy binds to
haproxy         = localhost
# The IP addresses of each Zope instance
instance1       = 127.0.0.1
instance2       = 127.0.0.1
instance3       = 127.0.0.1
instance4       = 127.0.0.1
instance-debug  = 127.0.0.1
# Where to find the syslog deamon to log to
syslog          = localhost
# The hostname that memcached binds to
memcached       = localhost
# The hostname where the database server is found
database        = localhost
# The hostname that supervisord binds to
supervisor      = localhost

# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
nginx-backend   = ${:varnish}
varnish         = 8100
varnish-backend = ${:haproxy}
haproxy         = 8200
haproxy-stats   = 8222
instance1       = 8001
instance2       = 8002
instance3       = 8003
instance4       = 8004
zeoserver       = 8300
instance-debug  = 8499
syslog          = 514
memcached       = 11211
database        = 3306
supervisor      = 9001

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin
database         = zope
supervisor-admin = admin

# Database instances for SQLAlchemy and RelStorage
[databases]
optilux = optilux
zodb    = zodb

# How should varnish store its cache? Increase thesize, in megabytes, as required
[varnish-options]
storage = malloc,512M
tuning  = -p thread_pools=4

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 8000
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error

[sites]
# Plone site ids - used in virtual hosting
main = hph

[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = ${ports:zeoserver}
effective-user = ${users:zope-process}
zeo-var = ${buildout:directory}/var
blob-storage = ${zeoserver:zeo-var}/blobstorage
eggs = ZODB3

# Zope instance template
[instance]
recipe = plone.recipe.zope2instance
user = ${users:zope-admin}:${passwords:zope-admin}
debug-mode = off
verbose-security = off
effective-user = ${users:zope-process}
http-fast-listen = off
zserver-threads = 2
zodb-cache-size = 10000
zeo-client = true
zeo-address = ${ports:zeoserver}
eggs =
    ${eggs:main}
    ${eggs:custom}
    ${eggs:addon}
zcml-additional =
shared-blob = on
environment-vars =
    PTS_LANGUAGES en de
    zope_i18n_allowed_languages en de
    zope_i18n_compile_mo_files true
    TUS_ENABLED true
    TUS_TMP_FILE_DIR ${buildout:directory}/var/tmp
zope-conf-additional =
    <product-config beaker>
        session.type            file
        session.data_dir        ${buildout:directory}/var/sessions/data
        session.lock_dir        ${buildout:directory}/var/sessions/lock
        session.key             beaker.session.hph
        session.secret          9bbe8211a354a01627abfbe61c8ef9f513653428-hph
    </product-config>
event-log-custom =
    %import raven.contrib.zope
    <logfile>
      path ${buildout:directory}/var/{:_buildout_section_name_}.log
      level INFO
    </logfile>
    <sentry>
      dsn https://43548b7b4b8649e0a27236d952134102:c32f719638554324bef7d90d891b17b4@app.getsentry.com/42619
      level ERROR
    </sentry>

[instance1]
<= instance
http-address = ${hosts:instance1}:${ports:instance1}

[instance2]
<= instance
http-address = ${hosts:instance2}:${ports:instance2}

[instance3]
<= instance
http-address = ${hosts:instance3}:${ports:instance3}

[instance4]
<= instance
http-address = ${hosts:instance4}:${ports:instance4}

[instance-debug]
<= instance
http-address = ${hosts:instance-debug}:${ports:instance-debug}

# Install the bin/zodbpack script
# Run: ``bin/zodbpack etc/zodbpack.conf``
[zodbpack]
recipe = zc.recipe.egg
eggs =
    RelStorage
    MySQL-python
scripts = zodbpack

# Generate ``etc/zodbpack.conf``
[zodbpack-config]
recipe = collective.recipe.template
input = ${buildout:directory}/buildout.d/templates/zodbpack.conf
output = ${buildout:directory}/etc/zodbpack.conf

# Install supervisor, which runs on port 9001
# Run: ``bin/supervisord``
# Run: ``bin/supervisorctl --help``
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor-admin}
password = ${passwords:supervisor-admin}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =

    0  zeoserver  ${zeoserver:location}/bin/runzeo
    10 instance1  ${buildout:directory}/bin/instance1 [console] true ${users:zope-process}
    10 instance2  ${buildout:directory}/bin/instance2 [console] true ${users:zope-process}
    10 instance3  ${buildout:directory}/bin/instance3 [console] true ${users:zope-process}
    10 instance4  ${buildout:directory}/bin/instance4 [console] true ${users:zope-process}

    20 haproxy    ${buildout:directory}/bin/haproxy       [-f ${buildout:directory}/etc/haproxy.conf] true ${users:haproxy}
    30 varnish    ${varnish-build:location}/sbin/varnishd [-F -s ${varnish-options:storage} -f ${buildout:directory}/etc/varnish.vcl -a ${hosts:varnish}:${ports:varnish} ${varnish-options:tuning}] true ${users:varnish}
    40 nginx      ${nginx-build:location}/sbin/nginx true

[tmpdir]
recipe = z3c.recipe.mkdir
paths = ${buildout:directory}/var/tmp

[backup]
recipe = collective.recipe.backup
backup_blobs = true
blob_storage = ${buildout:directory}/var/blobstorage
location = /opt/backups/${sites:main}/backups
ziplocation = /opt/backups/${sites:main}/zipbackups
blobbackuplocation = /opt/backups/${sites:main}/backups/blob
blobziplocation = /opt/backups/${sites:main}/backups/blobzip
snapshotbackup = /opt/backups/${sites:main}/snapshotbackups
keep = 2
full = false
debug = false
enable_zipbackup = true


[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo
