# Host names/IP addresses for local environment
[hosts]
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = hfph.ade25.de
public1         = hfph.ade25.de
private         = hfph.ade25.de
