# Deployment secrets
# ===================

# Copy this file to secret.cfg on the production host
# and update with necessary information.
# This file could then be rsynced for further use in your
# local development environment


# Passwords for services
[passwords]
zope-admin       = admin
# Database password for external dbs e.g. when deploying with RelStorage
database         = secret
# A production cluster should have a supervisor and therefore needs
# a password for the default supervisor web interface
supervisor-admin = secret
