# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:lxml-parts}
    instance
    zopepy
    chown
    backup
    repozo

extends =
    packages.cfg
    buildout.d/lxml.cfg
    versions.cfg

# Create local caches so we get self contained buildouts
# Note: this directories must exist on the remote server
eggs-directory = /opt/buildout-cache/eggs
download-cache = /opt/buildout-cache/downloads
extends-cache = /opt/buildout-cache/extends

find-links =
    http://dist.kreativkombinat.de/public/

# Packages to check out/update when buildout is run
# Clear this out if you want to stick to internally released eggs - see above.
auto-checkout =
    ade25.panelpage
    ade25.toolbar
    hph.bulletinboard
    hph.corporatetheme
    hph.faculty
    hph.lectures
    hph.membership
    hph.policy
    hph.publications
    hph.sitecontent
    hph.sitetheme
    kk.tiles

# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false

# Host names/IP addresses. See below for corresponding ports.
[hosts]
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = example.tld
cms             = cms.example.tld
instance        = 127.0.0.1


# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
instance        = 8405

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin

# Passwords for the accounts above
[passwords]
zope-admin       = walootw11

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 1024
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error

[sites]
# Plone site ids - used in virtual hosting
main = hph

# Zope instance template
[instance]
recipe = plone.recipe.zope2instance
user = ${users:zope-admin}:${passwords:zope-admin}
debug-mode = off
verbose-security = off
effective-user = ${users:zope-process}
http-address = ${ports:instance}
http-fast-listen = off
zserver-threads = 2
zodb-cache-size = 30000
eggs =
    ${eggs:main}
    ${eggs:custom}
    ${eggs:addon}
zcml-additional =
environment-vars =
    PTS_LANGUAGES en de
    zope_i18n_allowed_languages en de
    zope_i18n_compile_mo_files true
zope-conf-additional =
    <product-config beaker>
        session.type            file
        session.data_dir        ${buildout:directory}/var/sessions/data
        session.lock_dir        ${buildout:directory}/var/sessions/lock
        session.key             beaker.session.hph
        session.secret          9bbe8211a354a01627abfbe61c8ef9f513653428-hph
    </product-config>

[chown]
recipe = plone.recipe.command
command =
    chown -R ${users:zope-process}:${users:zope-process} ${buildout:directory}/bin
    chown -R ${users:zope-process}:${users:zope-process} ${buildout:directory}/eggs
    chown -R ${users:zope-process}:${users:zope-process} ${buildout:directory}/parts
    chown -R ${users:zope-process}:${users:zope-process} ${buildout:directory}/var
update-command =
    ${chown:command}

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${eggs:main}
    ${eggs:devtools}
interpreter = zopepy

[backup]
recipe = collective.recipe.backup
location = /opt/backups/${sites:main}/backups
snapshotbackup = /opt/backups/${sites:main}/snapshotbackups
keep = 2
full = false
debug = true

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo

