//
// Actionbar
// -------------------------------------

.app-actionbar {
    display: block;
    margin-top: -5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid $app-gray;
    border-top: 5px solid $gray-light;
    @include media-breakpoint-up(md) {
        margin-left: 50%;
    }
}

.app-actions {
    @include media-breakpoint-up(sm) {
        @include make-row();
    }
    font-size: 0.85rem;
}

.app-action {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    padding: .5rem .25rem;
    text-align: center;
}

// Global section and language switcher
.app-actionbar-nav {
    @extend .nav;
}

.app-actionbar-nav-item {
    display: inline-block;
}

.app-action-search {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    color: $app-primary;
    background: $gray-light;
}
