//
// Actionbar
// -------------------------------------

.app-actionbar {
    display: block;
    margin-top: -5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid $app-gray;
    border-top: 5px solid $gray-light;
    @include media-breakpoint-up(md) {
        margin-left: 50%;
    }
}

.app-actions {
    @include media-breakpoint-up(sm) {
        @include make-row();
    }
    font-size: 0.85rem;
}

.app-action {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    padding: .5rem .25rem;
    text-align: center;
}

.app-action-search {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    color: $app-primary;
    background: $gray-light;
}

.app-searchbox {
}

.app-searchbox-group {
    @include make-row();
    flex-wrap: nowrap;
}

.app-searchbox-field {
  @extend .form-control;
  border-color: $gray-light;
    &::placeholder {
        color: $gray-light;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }
}

.app-searchbox-control {
    @include make-col(9);
    width: 75%;
}

.app-searchbox-btn {
    @include make-col(3);
    @include button-variant(#000, #fff, $gray-light);
}
