//
// Header
// ------------------------------------------
.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $app-color-white;
    background: linear-gradient(rgba(255,255,255,1), rgba(239,239,239,1));
    @include when-inside('.template-frontpage-view') {
        background: transparent;
        &--offset {
            background: linear-gradient(rgba(255,255,255,1), rgba(239,239,239,1));
        }
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}

.c-header {
    padding-top: 1.5rem;
    @include make-container();
    @include make-container-max-widths();
}

.app-header__content {
    display: block;
    grid-template-columns: 50% 1fr 1fr;
    padding-top: 1.5rem;
    @include make-container();
    @include make-container-max-widths();
    @include mq($from: md) {
        display: grid;
    }
}

.app-header__section {
    display: block;
    position: relative;
    &:not(:first-child) {
        justify-self: end;
        align-self: end;
    }
}
