//
// Callouts
// --------------------------------------------------
.c-alert {
    padding: 0.5rem 1rem 1rem;
    margin: $spacer 0;
    border-left: 5px solid #eee;
}

// Common spacing and style resets
.c-alert__title {
    margin-top: 0;
    margin-bottom: .25rem;
}

.c-alert p:last-child {
    margin-bottom: 0;
}

// Custom button styles
.c-alert__button {
    float: right;
    margin-bottom: .5rem;
}

// Callout variants used as addon classes
.c-alert--default {
    @include alert-variant($gray-300, $gray-500, $black);
}

.c-alert--success {
    @include alert-variant($gray-200, $green, $green);
}

.c-alert--danger {
    @include alert-variant($gray-200, $red, $red);
}

.c-alert--warning {
    @include alert-variant($gray-200, $yellow, $yellow);
}
