//
// Header
// ------------------------------------------
.app-header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1001;
    background-color: $color-white;
  @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid gray("200");
  }
}

.app-header__content {
    padding-top: 1.5rem;
  @include make-container();
  @include make-container-max-widths();
}

.app-header__section {
    display: block;
    position: relative;
}
