//
// Application settings and variables
// -------------------------------------------------


//== Colors
//
//## Brand colors used across the project
$color-cadetblue:               rgba(95,158,160,1) !default; // #5F9EA0

$color-powderblue:              rgba(176,224,230,1) !default; // #B0E0E6

$color-firebrick:               rgba(139, 0, 0, 1) !default; // #8b0000


// Gray baseline
$app-gray:                      rgba(237, 234, 234, 1);

$app-red:                       $color-firebrick !default;

//== Brand and Section specific variables
//
//## Used in mixin and modifier classes

//** Primary brand color
$app-primary-base:              $color-cadetblue !default;
$app-primary-darker:            darken($app-primary-base, 15%)  !default;
$app-primary-dark:              darken($app-primary-base, 7.5%) !default;
$app-primary:                   $app-primary-base               !default; // #274d38
$app-primary-light:             lighten($app-primary-base, 7.5%) !default;
$app-primary-lighter:           lighten($app-primary-base, 15%) !default;

//** Secondary brand color
$app-secondary-base:              $color-powderblue !default;
$app-secondary-darker:            darken($app-secondary-base, 15%)  !default;
$app-secondary-dark:              darken($app-secondary-base, 7.5%) !default;
$app-secondary:                   $app-secondary-base               !default; // #588c73
$app-secondary-light:             lighten($app-secondary-base, 7.5%) !default;
$app-secondary-lighter:           lighten($app-secondary-base, 15%) !default;


//** Brand primary color schema used as default
$app-default:                 $app-primary-base;

// Brand danger
$app-danger:                    $app-red;


// Custom web font
$app-font-family-base:             "Open Sans";
// $app-font-family-light:     "DINRoundWeb-Light";
// $app-font-family-medium:    "DINRoundWeb-Medium";
// $app-font-family-strong:    "DINRoundWeb";

// Ionicons
$ionicons-font-path:            "../assets/fonts";
