//
// Header
// ------------------------------------------


.app-header {
  padding-top: 3rem;
  @media (min-width: $grid-float-breakpoint-max) {
    padding-left: $line-height-computed;
    padding-bottom: 1rem;
  }
}

.app-header-content {
  @media (min-width: $grid-float-breakpoint) {
    @extend .container;
    display: flex;
  }
}

.app-header-content + .app-header-content {
  margin-top: 1.5rem;
}

.app-header-panel {
  flex: 1;
}

//== Adjust grid cell sizes
//
//## Starting from the grid breakpoint the header
//## should display in the standard 2:1 ratio
@media (min-width: $grid-float-breakpoint-max) {
  .app-header-brandbar {
    flex: 0 0 66.6666%;
  }
  .app-header-actionbar {
    flex: 0 0 33.3333%;
  }
}