//
// Navbar
// -----------------------------------------

.app-navbar {
  @extend .navbar;
  background-color: $app-primary;
  border-radius: 0;
  @media (min-width: $grid-float-breakpoint-max) {
    background: transparent;
    border-bottom: 10px solid $app-primary;
  }
}

//== Navbar header
//
//## Default display of global site navigation
//## Hidden on larger displays
.app-navbar-header {
  @include clearfix;
  display: flex;
  align-items: center;
  padding: 0;
  background: $app-primary;
}

//** Navbar toggle text
.app-navbar-header-title {
  flex: 0 0 75%;
}

.app-navbar-brand {
  height: $navbar-height;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  font-weight: 500;
  line-height: $line-height-computed;
  color: #fff;
}

//** Icon bar navigation toggle
.app-navbar-header-toggle {
  flex: 0 0 25%;
  background: $app-secondary;
  min-height: $navbar-height;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  text-align: center;
}

// Navbar toggle button visible on small displays
.app-navbar-toggle {
  width: 100%;
  border-color: transparent;
  background: transparent;
  text-align: right;
  &:hover,
  &:focus {
    background: transparent;
    border-color: transparent;
  }
  .icon-bar {
    background-color: $navbar-inverse-toggle-icon-bar-bg;
  }
  // Bars
  .icon-bar {
    display: block;
    width: 44px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 12px;
  }
}

.app-navbar-collapse {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

// Unordered list main navigation
.app-navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @extend clearfix;
}

//== Navitems
//
//## Color coded based on addon classes
.app-navitem {
  width: 100%;
  @media (min-width: $grid-float-breakpoint-max) {
    width: 16.66666667%;
    padding-right: 2px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.app-navitem-tab {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: $app-primary;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.5s ease;
    &:hover {
      color: #fff;
      background-color: darken($app-primary, 6.5%);
      text-decoration: none;
    }
    > span {
      display: block;
      margin: 0 auto;
      // padding: ((#{$navbar-height} - ($line-height-computed)) / 2) 0;
      @include navbar-vertical-align($line-height-computed);
    }
    @media (min-width: $grid-float-breakpoint-max) {
      height: 70px;
      min-height: 70px;
    }
}

//== NOTE: this classes are subject to changes
//
//## we should move these to general purpose brand classes
//## providing both color and background color mixins and
//## standalone modifier classes
.app-navitem-tab-home {
  background-color: $app-primary;
  &:hover {
    background-color: darken($app-primary, 6.5%);
  }
}

.app-navitem-tab-aktuelles {
  background-color: $app-current;
  &:hover {
    background-color: darken($app-current, 6.5%);
  }
}

.app-navitem-tab-verwaltung-und-politik {
  background-color: $app-administration;
  &:hover {
    background-color: darken($app-administration, 6.5%);
  }
}

.app-navitem-tab-tourismus-und-wirtschaft {
  background-color: $app-economy;
  &:hover {
    background-color: darken($app-economy, 6.5%);
  }
}

.app-navitem-tab-leben-im-landkreis {
  background-color: $app-county;
  &:hover {
    background-color: darken($app-county, 6.5%);
  }
}

.app-navitem-tab-buergerportal-und-service {
  background-color: $app-service;
  &:hover {
    background-color: darken($app-service, 6.5%);
  }
}
