$c-panel-width:                         100%;

$c-panel-padding-top:                   1rem;
$c-panel-padding-right:                 0rem;
$c-panel-padding-bottom:                0rem;
$c-panel-padding-left:                  0rem;
$c-panel-margin-bottom:                 2rem;


// Colors
$c-panel-primary-color:                 $app-color-text;
$c-panel-primary-bg-color:              $app-color-gray-light;
