$c-toc-display:						block;
$c-toc-flex-direction:				row;

$c-toc-link-color:					#fff;

$c-toc-font:						$app-font-family-strong;
$c-toc-item-text-transform:			uppercase;
$c-toc-item-font-size:				$app-font-size-sm;
