///* ========================================================================
//   #CONFIG
//   ======================================================================== */
// Custom web font
$app-font-family-base:              "EB Garamond";
$app-font-family-light:             "EB Garamond";
$app-font-family-medium:            "EB Garamond";
$app-font-family-strong:            "TAZ";
