<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    {{ page.title }} &middot; HfPh Site theme
</title>
<script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.lazyClass = 'lazy-load';
    window.lazySizesConfig.loadedClass = 'image--loaded';
</script>
<link rel="stylesheet" href="https://use.typekit.net/ujc5zsd.css">
<!-- inject:svg -->
<!-- endinject -->
<!-- inject:css -->
<!-- endinject -->
