<table class="table table-sm">
    <tbody>
    <tr>
        <th scope="row"><i class="ion ion-ios-search" aria-hidden="true"></i></th>
        <td>Suche</td>
        <td><code><i class="ion ion-ios-search" aria-hidden="true"></i></code></td>
    </tr>
    <tr>
        <td scope=""row>
            <i class="ion ion-ios-square" aria-hidden="true"></i>
        </td>
        <td>Startseite / Home Button</td>
        <td><code><i class="ion ion-ios-square" aria-hidden="true"></i></code></td>
    </tr>
    </tbody>
</table>
