<div class="app-newsletter" id="app-newsletter">
    <div class="app-newsletter-content">
      <div class="app-newsletter-registration">
          {% include components/newsletter-registration.html %}
      </div>
      <h3>Hinweise zu unserem Newsletter</h3>
<p></p>
<h4>Inhalt</h4>
<p>Wir wollen Sie mit unserem Newsletter über Veranstaltungen und Entwicklungen in und an der Hochschule für Philosophie informieren.</p>
<h4>Häufigkeit</h4>
<p>Unseren Newsletter erhalten Sie etwa einmal im Quartal. Die tatsächliche Frequenz hängt aber von den Themen und Entwicklungen ab.</p>
<h4>Versand</h4>
<p>Für den Versand unseres Newsletters nutzen wir einen Versanddienstleister. Dort werden zu diesem Zweck Ihre hier angegebenen Daten zum Versand und zur Analyse gespeichert.</p>
<h4>Anmeldung und Bestätigungsmail</h4>
<p>Sie erhalten nach Anmeldung eine E-Mail, in der Sie um Bestätigung der Anmeldung gebeten werden. Anschließend können Sie dem Empfang des Newsletters jederzeit widersprechen und sich damit auch wieder abmelden: Einen Abmeldelink finden Sie in jedem unserer Newsletter oder der ersten Bestätigungsmail.</p>
<h4>Statistiken und Erfolgsmessung</h4>
<p>Um den Newsletter zu verbessern, analysieren wir, wie häufig der Newsletter geöffnet wird und auf welche Links die Leser und Leserinnen klicken. Mit der Anmeldung zu unserem Newsletter stimmen Sie dieser Auswertung zu.</p>
<h4>Datenschutzhinweise</h4>
<p>Ausführlichere Informationen finden Sie in unserer <a href="../resolveuid/5cd884e43c1449fa8ce28c4dc764f75c" data-linktype="internal" data-val="5cd884e43c1449fa8ce28c4dc764f75c">Datenschutzerklärung</a>.</p>
    </div>
</div>
