<div class="app-actionbar" id="app-actionbar">
    <div class="app-action-search">
        <form class="app-searchbox" role="search">
          <div class="app-searchbox-group">
              <input class="app-searchbox-control app-searchbox-field" type="text" placeholder="Suchen nach...">
              <button class="btn btn-default app-searchbox-control app-searchbox-btn" type="button">
                  Suchen
              </button>
            </div><!-- /input-group -->
        </form>
    </div>
</div>
