<div class="app-bannerbar" id="app-bannerbar">
    <div class="app-banner">
      <div class="app-banner-item">
        <div class="app-banner-item-caption">
          <div class="app-banner-item-title">
            Überschrift dieses Banners
          </div>
          <p>Der Inhalt eines Banners sollte nach Möglichkeit den <em>best-practices</em>
            für das Schreiben im Netz folgen. Kurze und prägnante Informationen sind Trumpf.
            Am Besten verstehen Suchmaschninen und Menschen einfache Botschaften.
            Ein blaues Haus ist für eine Suchmaschine einfach nur ein Haus.
            <a href="#test">Weiterlesen&hellip;</a>
          </p>
        </div>
      </div>
    </div>
</div>