<div class="app-brandbar" id="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
            <div class="app-brand-title">
                <a class="app-brandname" href="/">
                    {% include components/logo.html %}
                </a>
            </div>
            <div class="app-brand-aside">
                <div class="app-section-marker" id="app-section-marker">
                    Hochschule
                </div>
            </div>
        </div>
    </div>
</div>