<div class="c-card c-card--fpoint">
    <div class="c-card__header">
        <div class="c-widget__icon c-widget__icon--centered c-widget__icon--lg">
            <div class="icon-box">
                <!-- icon-ui-tile -->
                <svg class="o-icon__ui--timer-dims">
                    <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--timer"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="c-card__footer c-card__footer--centered">
        Termine
    </div>
</div>
