<div class="c-card c-card--banner">
    <div class="c-card__header">
        <img class="c-card__image" src="{{ page.base_url }}assets/images/extern-01.jpg" />
    </div>
    <div class="c-card__footer">
        <span class="c-card__footer--action">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="100%" height="100%"
                 viewBox="0 0 36 36">
                <polygon fill-rule="evenodd"
                         points="14.707 26.707 13.293 25.293 20.586 18 13.293 10.707 14.707 9.293 23.414 18">
                </polygon>
            </svg>
        </span>

        <span class="c-card__footer--link">
        Weltoffene Hochschule
        </span>
    </div>
</div>
