<div class="c-card c-card--banner">
    <div class="c-card__header">
        <img class="c-card__image" src="{{ page.base_url }}assets/images/extern-02.jpg" />
    </div>

    <div class="c-card__footer">
        <div class="o-read-more">
            <span class="o-read-more__icon">
                <a href="#">
                    <svg class="o-icon o-icon--default o-icon--circle o-icon__ui--chevron-dims">
                        <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use>
                    </svg>
                </a>
            </span>
            <span class="o-read-more__text">
            <a href="https://www.hrk.de/presse/pressemitteilungen/pressemitteilung/meldung/weltoffene-hochschulen-gegen-fremdenfeindlichkeit-bundesweite-aktion-der-hrk-mitgliedshochschulen/">
                IAJU
            </a>
            </span>
        </div>
    </div>
</div>
