<div class="c-card c-card--fpoint">
    <div class="c-card__header">
        <div class="c-widget__icon c-widget__icon--centered c-widget__icon--lg">
            <a href="{{ page.base_url }}studierende/lehrveranstaltungen/wintersemester-2018-19">
            <div class="icon-box">
                <!-- icon-ui-tile -->
                <svg class="o-icon o-icon__ui--calendar-dims">
                    <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--calendar"></use>
                </svg>
            </div>
        </a>
        </div>
    </div>
    <div class="c-card__footer c-card__footer--centered">
        <a href="{{ page.base_url }}studierende/lehrveranstaltungen/wintersemester-2018-19">
            Lehrveranstaltungen
        </a>
    </div>
</div>
