<div class="app-card app-card-address">
  <div class="app-card-header">
    <div class="app-card-title">
      Hochschule für Philosophie München
    </div>
  </div>
  <div class="app-card-main app-card-main-boxed">
    <div class="app-card-content">
      <address>
          Kaulbachstraße 31a<br>
          D-80539 München
      </address>
      <address>
        Telefon: +49-89-2386-2300<br>
        E-Mail: <a href="webmaster@hfph.de">webmaster@hfph.de</a>
      </address>
    </div>
  </div>
</div>
