<div class="c-card c-card--banner">
    <div class="c-card__header">
        <div class="c-widget__icon c-widget__icon--centered c-widget__icon--lg">
            <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" width="64" height="64" viewBox="0 0 64 64">
                <style>
                </style>
                <path fill="none" stroke="#4a4a4a" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M49.29 11.052H14.71v7.773h13.728v34.123h7.772V18.825h13.08z"></path>
            </svg>
        </div>
    </div>
    <div class="c-card__footer">
        Text Block
    </div>
</div>
