<ul class="c-toc o-grid">
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Die Hochschule
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Portr&auml;t
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Alumni-Success
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    wissenschaftliche Einrichtungen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Organisation
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    F&ouml;rderer
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Kooperationen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Geschichte
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Lehrende
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Nachrichten
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &ouml;ffentliche Veranstaltungen
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Studierende
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Studienorganisation
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    [...]
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Studien&shy;interessierte
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &Uuml;bersicht
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    [...]
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Weiterbildung
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &Uuml;bersicht
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    [...]
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Forschung
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Forschungsschwerpunkte
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    [...]
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Presse / Kommunikation
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &Uuml;bersicht
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    [...]
                </a>
            </li>
        </ul>
    </li>
</ul>
