<ul class="c-toc" id="c-toc">
    <li class="c-toc__item c-toc__item--has-subtree">
        <span href="https://xing.com" class="c-toc__link">
            Social Media
        </span>
        <div class="c-social-menu">
            <a href="https://twitter.com/hfph_muc" class="c-toc__link c-social-menu__item">
                <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--twitter-dims">
                    <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--twitter"></use>
                </svg>
            </a>
            <a href="https://www.facebook.com/hfph.muenchen/" class="c-toc__link c-social-menu__item">
                <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--facebook-dims">
                    <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--facebook"></use>
                </svg>
            </a>
            <a href="https://www.xing.com/companies/hochschulef%C3%BCrphilosophiem%C3%BCnchen" class="c-toc__link c-social-menu__item">
                <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--xing-dims">
                    <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--xing"></use>
                </svg>
            </a>
            <a href="https://de.linkedin.com/school/hochschule-f%C3%BCr-philosophie-m%C3%BCnchen/" class="c-toc__link c-social-menu__item">
                <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--linkedin-dims">
                    <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--linkedin"></use>
                </svg>
            </a>
        </div>
    </li>
</ul>
