<ul class="c-toc o-grid">
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Die Hochschule
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Portr&auml;t
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Alumni-Success
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    wissenschaftliche Einrichtungen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Organisation
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    F&ouml;rderer
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Kooperationen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Geschichte
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Lehrende
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Nachrichten
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &ouml;ffentliche Veranstaltungen
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Studierende
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Studienorganisation
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Vorlesungsverzeichnis
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Lernmanagement-System
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Semestertermine
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Pr&uuml;fungen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    R&uuml;ckmeldung
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Pr&uuml;fungs- und Studienordnungen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Studentisches Leben
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Studien&shy;interessierte
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &Uuml;bersicht
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Bachelor Philosophie
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    konsekutiver Master Philosophie
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Promotion
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Philosophicum
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Weiterbildung&shy;sangebot
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &Uuml;bersicht
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Zertifikate
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Master Ethik
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Gasth&ouml;rer
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Forschung
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Forschungsschwerpunkte
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Drittmittelprojekte
                </a>
            </li>
             <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Habilitationsprojekte
                </a>
            </li>
             <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    wissenschaftliche Veranstaltungen
                </a>
            </li>
        </ul>
    </li>
    <li class="c-toc__item o-grid__item--width-16">
        <a class="c-toc__link" href="#main-section">
            Presse und Kommunikation
        </a>
        <ul class="c-toc c-toc--level-1 o-menu o-menu--toc">
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    &Uuml;bersicht
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Pressemitteilungen
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Mediathek
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Downloads
                </a>
            </li>
            <li class="c-toc__item o-menu__item">
                <a class="c-toc__link" href="#main-section">
                    Kontakt
                </a>
            </li>
        </ul>
    </li>
</ul>
