<ul class="o-menu c-social-menu">
    <li class="c-social-menu__item">
        <a href="https://twitter.com/hfph_muc" class="c-social-menu__link">
            <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--twitter-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--twitter"></use>
            </svg>
        </a>
    </li>
    <li class="c-social-menu__item">
        <a href="https://www.facebook.com/hfph.muenchen/" class="c-social-menu__link">
            <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--facebook-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--facebook"></use>
            </svg>
        </a>
    </li>
    <li class="c-social-menu__item">
        <a href="https://www.xing.com/companies/hochschulef%C3%BCrphilosophiem%C3%BCnchen" class="c-social-menu__link">
            <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--xing-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--xing"></use>
            </svg>
        </a>
    </li>
    <li class="c-social-menu__item">
        <a href="https://de.linkedin.com/school/hochschule-f%C3%BCr-philosophie-m%C3%BCnchen/" class="c-social-menu__link">
            <svg class="o-icon o-icon--circle o-icon--solid o-icon--size-3 o-icon--spacer o-icon--primary o-icon__brand--linkedin-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#brand--linkedin"></use>
            </svg>
        </a>
    </li>
</ul>
