<ul class="c-meta-nav o-menu o-menu--meta">
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="#meta-section">
            Kontakt
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="#meta-section">
            Impressum
        </a>
    </li>
    <li class="c-meta-nav__item o-menu__item">
        <a class="c-meta-nav__link o-menu__link" href="#meta-section">
            [...]
        </a>
    </li>
</ul>

