<div class="c-language-menu">
    <a href="/en" class="c-language-menu__button c-language-menu__button--en"
            id="language-menu-button-en">
        <span class="c-language-menu__text" id="language-menu-text">EN</span>
        <span class="c-language-menu__icon" id="c-quick-links-icon">
            <svg class="o-icon o-icon--sm o-icon__ui--globe-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--globe"></use>
            </svg>
        </span>
    </a>
    <a href="/" class="c-language-menu__button c-language-menu__button--de"
       id="language-menu-button-de">
        <span class="c-language-menu__text" id="language-menu-text">DE</span>
        <span class="c-language-menu__icon" id="c-quick-links-icon">
            <svg class="o-icon o-icon--sm o-icon__ui--globe-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--globe"></use>
            </svg>
        </span>
    </a>
</div>
