<div class="c-nav-bar c-nav-bar--hidden">
    <div class="c-nav-bar__header">
        <div class="c-nav-bar__title">
            Navigation
        </div>
        <button type="button" class="c-nav-bar__toggle js-nav-toggle" id="js-nav-toggle">
            <span class="c-nav__toggle c-nav__toggle--close">
                    <svg class="app-nav__toggle-icon" id="nav-toggle-close" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 36 36"><polygon fill-rule="evenodd" points="27.899 9.515 26.485 8.101 18 16.586 9.514 8.101 8.1 9.515 16.586 18 8.1 26.486 9.514 27.9 18 19.414 26.485 27.9 27.899 26.486 19.414 18"></polygon>
                    </svg>
                 </span>
        </button>
    </div>
    {% include components/navigation.html %}
</div>
