<nav class="app-navbar app-navbar-sub" id="app-navbar-sub" role="navigation">
  <div class="app-navbar-header app-navbar-header-sub">
      <div class="app-navbar-header-title">
          <a class="app-navbar-brand" href="/">Themen</a>
      </div>
      <div class="app-navbar-header-toggle app-navbar-header-toggle-sub">
          <button type="button" class="app-navbar-toggle navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#app-navbar-sub-collapse">
              <span class="sr-only">Toggle navigation</span>
              &#9776;
          </button>
      </div>
  </div>

  <div class="navbar-collapse app-navbar-collapse app-navbar-collapse-secondary collapse navbar-toggleable-xs" id="app-navbar-sub-collapse">
      <ul class="app-navbar-nav app-navbar-nav-sub" id="app-navbar-nav-sub">
      <li class="app-navitem active">
        <a class="app-navitem-tab app-navitem-tab-home" href="{{ page.base_url }}">
          <span>Startseite</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-aktuelles" href="{{ page.base_url }}hochschule">
          <span>Hochschule</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-verwaltung-und-politik" href="{{ page.base_url }}studium">
          <span>Studium</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-tourismus-und-wirtschaft" href="{{ page.base_url }}forschung">
          <span>Forschung</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-leben-im-landkreis" href="{{ page.base_url }}impulse">
          <span>Impulse</span>
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
