<ul class="app-nav" id="app-nav">

    <li class="app-nav__item app-nav__item--aktuelles app-nav__item--active app-nav__item--has-children">
        <a class="app-nav__link app-nav__link--0701d325dd2b4958891c13be022ca5c8 app-nav__link--active app-nav__link--has-icon app-nav__link--has-children"
           href="/company"
           data-toggle="fly-out">
            <span class="app-nav__tab app-nav__tab--trigger">Company</span>
            <span class="app-nav__tab--action">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="100%" height="100%"
                                         viewBox="0 0 36 36">
                                            <polygon fill-rule="evenodd"
                                                     points="14.707 26.707 13.293 25.293 20.586 18 13.293 10.707 14.707 9.293 23.414 18"></polygon>
                                        </svg>
                                </span>
        </a>

        <ul class="app-nav app-nav--level-1">
            <li class="app-nav__item app-nav__item--back-link">
                <a class="app-nav__link app-nav__link--back-link js-drawer-close"
                   href="/company">
                                    <span class="app-nav__tab--action">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="100%" height="100%"
                                             viewBox="0 0 36 36">
                                            <polygon fill-rule="evenodd"
                                                     points="21.293 9.293 22.707 10.707 15.414 18 22.707 25.293 21.293 26.707 12.586 18"></polygon>
                                        </svg>
                                    </span>
                    <span
                        class="app-nav__tab app-nav__tab--hide-text">Zurück</span>

                </a>
                <a class="app-nav__link app-nav__link"
                   href="https://frauenpraxis-augsburg.de/aktuelles">
                    <span class="app-nav__tab">Company</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--praxis-geschlossen"
                   href="/company/sub-section-one">
                    <span class="app-nav__tab">Sub Section One</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--elektronische-gesundheitskarte-egk"
                   href="/company/sub-section-two">
                    <span class="app-nav__tab">Sub Section Two With Longer Title</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--interessante-themen-aus-frauenaerzte-im-netz"
                   href="/company/sub-section-three">
                    <span class="app-nav__tab">Sub Section Three Conundrum</span>
                </a>
            </li>

        </ul>

    </li>

    <li class="app-nav__item app-nav__item--praxisteam app-nav__item--has-children app-nav__item--has-dropdown">
        <a class="app-nav__link app-nav__link--fe7dd7373ce04dcdada72ba4d3154ee0 app-nav__link--has-icon app-nav__link--has-children"
           href="/products"
           data-toggle="fly-out">
            <span class="app-nav__tab app-nav__tab--trigger">Products</span>
            <span class="app-nav__tab--action">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="100%" height="100%"
                                         viewBox="0 0 36 36">
                                            <polygon fill-rule="evenodd"
                                                     points="14.707 26.707 13.293 25.293 20.586 18 13.293 10.707 14.707 9.293 23.414 18"></polygon>
                                        </svg>
                                </span>
        </a>

        <ul class="app-nav app-nav--level-1">
            <li class="app-nav__item app-nav__item--back-link">
                <a class="app-nav__link app-nav__link--back-link js-drawer-close"
                   href="https://frauenpraxis-augsburg.de/praxisteam">
                                    <span class="app-nav__tab--action">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="100%" height="100%"
                                             viewBox="0 0 36 36">
                                            <polygon fill-rule="evenodd"
                                                     points="21.293 9.293 22.707 10.707 15.414 18 22.707 25.293 21.293 26.707 12.586 18"></polygon>
                                        </svg>
                                    </span>
                    <span
                        class="app-nav__tab app-nav__tab--hide-text">Zurück</span>

                </a>
                <a class="app-nav__link app-nav__link"
                   href="https://frauenpraxis-augsburg.de/praxisteam">
                    <span class="app-nav__tab">Praxisteam</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--dr-katharina-anstett"
                   href="https://frauenpraxis-augsburg.de/praxisteam/dr-katharina-anstett">
                    <span class="app-nav__tab">Dr. Katharina Anstett</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--dr-marion-k-schaefer"
                   href="https://frauenpraxis-augsburg.de/praxisteam/dr-marion-k-schaefer">
                    <span class="app-nav__tab">Dr. Marion K. Schäfer</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--mitarbeiter"
                   href="https://frauenpraxis-augsburg.de/praxisteam/mitarbeiter">
                    <span class="app-nav__tab">Mitarbeiterinnen</span>
                </a>
            </li>

        </ul>

    </li>

    <li class="app-nav__item app-nav__item--leistungen app-nav__item--has-children">
        <a class="app-nav__link app-nav__link--07f02efc03254452aff332c2c0491c1c app-nav__link--has-icon app-nav__link--has-children"
           href="/services"
           data-toggle="fly-out">
            <span class="app-nav__tab app-nav__tab--trigger">Services</span>
            <span class="app-nav__tab--action">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="100%" height="100%"
                                         viewBox="0 0 36 36">
                                            <polygon fill-rule="evenodd"
                                                     points="14.707 26.707 13.293 25.293 20.586 18 13.293 10.707 14.707 9.293 23.414 18"></polygon>
                                        </svg>
                                </span>
        </a>

        <ul class="app-nav app-nav--level-1">
            <li class="app-nav__item app-nav__item--back-link">
                <a class="app-nav__link app-nav__link--back-link js-drawer-close"
                   href="/services">
                                    <span class="app-nav__tab--action">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="100%" height="100%"
                                             viewBox="0 0 36 36">
                                            <polygon fill-rule="evenodd"
                                                     points="21.293 9.293 22.707 10.707 15.414 18 22.707 25.293 21.293 26.707 12.586 18"></polygon>
                                        </svg>
                                    </span>
                    <span
                        class="app-nav__tab app-nav__tab--hide-text">Zurück</span>

                </a>
                <a class="app-nav__link app-nav__link"
                   href="/services">
                    <span class="app-nav__tab">Services</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--vorsorgeuntersuchungen"
                   href="/services/section-one">
                    <span class="app-nav__tab">Section One</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--schwangerschaft"
                   href="/services/section-2">
                    <span class="app-nav__tab">Section Two</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--gynaekologie"
                   href="/services/section-three">
                    <span class="app-nav__tab">Section Three</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--empfaengnisverhuetung"
                   href="/services/section-four">
                    <span class="app-nav__tab">Section Four</span>
                </a>
            </li>

            <li class="app-nav__item">
                <a class="app-nav__link app-nav__link--impfungen"
                   href="/services/section-five">
                    <span class="app-nav__tab">Section Five</span>
                </a>
            </li>

        </ul>

    </li>

    <li class="app-nav__item app-nav__item--kontakt">
        <a class="app-nav__link app-nav__link--d0a4093e994b4cd68ac80987cc8f9bcb"
           href="/contact"
           data-toggle="disabled">
            <span class="app-nav__tab">Contact</span>

        </a>

    </li>

</ul>
