<div class="c-quick-links">
    <a class="c-quick-links__button js-dropdown-toggle" id="js-quick-link-toggle"
        data-dropdown="o-dropdown-01">
        <span class="c-quick-links__text">Quick-Links</span>
        <span class="c-quick-links__icon" id="c-quick-links-icon">
            ☰
        </span>
    </a>
    <div class="o-dropdown o-dropdown--hidden js-dropdown" id="o-dropdown-01">
        <div class="o-dropdown__content">
            <ul class="o-dropdown__list">
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 1</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 2</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 3</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 4</a>
                </li>
                <li class="o-dropdown__list-item">
                    <a class="o-dropdown__link" href="#link-target-0">Link 5</a>
                </li>
            </ul>
        </div>
    </div>
</div>
