<section class="c-panel c-panel--editable c-panel--2 c-panel c-panel--centered">
    <div class="c-panel__main">
        <div class="c-teaser">
            <div class="c-teaser__header">
                <h1 class="c-news-teaser__title">
                    Aktuelles
                </h1>
            </div>
            <div class="c-teaser__main">
                <div class="o-grid o-grid--gutter o-grid--md c-card-list">
                    <div class="o-grid__item o-grid__item--width-33 c-card-list__item">
                        {% include components/card-demo-01.html %}
                    </div>
                    <div class="o-grid__item o-grid__item--width-33 c-card-list__item">
                        {% include components/card-demo-01.html %}
                    </div>
                    <div class="o-grid__item o-grid__item--width-33 c-card-list__item">
                        {% include components/card-demo-01.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
