<!--<section class="c-panel c-panel--editable c-panel--2 c-panel c-panel--centered">
    <div class="c-panel__main">
        <div class="c-teaser">
            <div class="c-teaser__header">
                <h1 class="c-news-teaser__title">
                    Aktuelles
                </h1>
            </div>
            <div class="c-teaser__main">
                <div class="o-grid o-grid--gutter o-grid--md c-card-list">
                    <div class="o-grid__item o-grid__item--width-33 c-card-list__item">
                        {% include components/card-demo-01.html %}
                    </div>
                    <div class="o-grid__item o-grid__item--width-33 c-card-list__item">
                        {% include components/card-demo-01.html %}
                    </div>
                    <div class="o-grid__item o-grid__item--width-33 c-card-list__item">
                        {% include components/card-demo-01.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->


<section class="c-panel c-panel--editable c-panel--1 c-panel c-panel--centered">
    <div class="c-panel__header">
        <div class="c-panel__controls">
            <a class="c-panel__control c-panel__icon" href="https://hfph.ade25.de/startseite/@@panel-edit?section=header&amp;panel=0">
                <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" width="100%" height="100%" viewbox="0 0 64 64">
                    <style>.o-icon__pen--path{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:currentColor;stroke-width:2;stroke-miterlimit:10}
                    </style>
                    <path d="M27.925 46.229L17.771 36.075M44.818 29.336L34.664 19.182l4.979-4.979a4.22 4.22 0 0 1 5.966 0l4.188 4.188a4.22 4.22 0 0 1 0 5.966l-4.979 4.979z" class="o-icon__pen--path"></path>
                    <path d="M27.925 46.229l-14.957 4.803 4.803-14.957 16.893-16.893 10.154 10.154-16.893 16.893zM15.609 42.806l5.585 5.585" class="o-icon__pen--path"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="c-panel__main">
        <div class="c-widget c-widget--teaser-news c-widget--03aaf147-a2bf-4eac-ac13-aee19dcb75d4">
            <div class="c-widget__header c-widget__header--text-block">
                <div class="c-widget__title">
                Widget: Text Block
            </div>
        </div>
        <div class="c-widget__content">
            <div class="c-teaser c-teaser--news" xmlns:xlink="http://www.w3.org/1999/xlink">
                <div class="c-teaser__header">
                    <h2 class="c-teaser__title">Aktuelles</h2>
                </div>
            <div class="c-teaser__main">
                <div class="c-list c-list--gutter c-list--grid c-list--33405c15d0e84540bdfd72628be0d870">
                <div class="c-list__item c-list__item--card o-card-list__item--76fd7c05629b426abc7ad487f35f1344">
                <div class="c-card c-card--teaser c-card--76fd7c05629b426abc7ad487f35f1344" xmlns:xlink="http://www.w3.org/1999/xlink">
                <div class="c-card__header c-card__header--teaser">
                    <a class="c-card__link" href="https://hfph.ade25.de/nachrichten/abgabe-der-seminararbeiten">
                <div class="c-card__kicker">


                        <time datetime="Montag, 11. März 2019 14:00:00 GMT+00:00">
                            11.03.2019
                        </time>&nbsp;


                    | <span>Anouncement</span>

            </div>
            <h3 class="c-card__title">Abgabe der Seminararbeiten</h3>
        </a>
    </div>
    <div class="c-card__main">
        <div class="c-card__section">
            <div class="c-card__details">
                Bitte denken Sie daran, dass Sie Seminararbeiten bis zum 15. März abgegeben haben müssen!
            </div>
        </div>
    </div>
    <div class="c-card__footer c-card__footer--teaser">
        <a class="c-card__link" href="https://hfph.ade25.de/nachrichten/abgabe-der-seminararbeiten">
            <div class="o-read-more">
                <span class="o-read-more__icon c-card__icon">
                    <svg class="o-icon o-icon--default o-icon--circle o-icon__ui--chevron-dims">
                        <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use>
                    </svg>
                </span>
                <span class="o-read-more__text c-card__link-text">Weiterlesen</span>
            </div>
        </a>
    </div>
</div>
                </div>

                <div class="c-list__item c-list__item--card o-card-list__item--1a7715edbf12472ab22bd7384d613c2b">
                    <div class="c-card c-card--teaser c-card--1a7715edbf12472ab22bd7384d613c2b" xmlns:xlink="http://www.w3.org/1999/xlink">
    <div class="c-card__header c-card__header--teaser">
        <a class="c-card__link" href="https://hfph.ade25.de/nachrichten/copy_of_am-dienstag-ist-ab-mittag-zu">
            <div class="c-card__kicker">


                        <time datetime="Montag, 4. März 2019 08:00:00 GMT+00:00">
                            04.03.2019
                        </time>&nbsp;



                    | <span>Anouncement</span>

            </div>
            <h3 class="c-card__title">Am Dienstag ist ab Mittag zu ...</h3>
        </a>
    </div>
    <div class="c-card__main">
        <div class="c-card__section">
            <div class="c-card__details">
                Die Hochschule für Philosophie schließt am Faschingsdienstag, den 5. März 2018 ab Mittag ihre Türen. Auch die Bibliothek ist erst wieder am Mittwoch für Sie da.
            </div>
        </div>
    </div>
    <div class="c-card__footer c-card__footer--teaser">
        <a class="c-card__link" href="https://hfph.ade25.de/nachrichten/copy_of_am-dienstag-ist-ab-mittag-zu">
            <div class="o-read-more">
                <span class="o-read-more__icon c-card__icon">
                    <svg class="o-icon o-icon--default o-icon--circle o-icon__ui--chevron-dims">
                        <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use>
                    </svg>
                </span>
                <span class="o-read-more__text c-card__link-text">Weiterlesen</span>
            </div>
        </a>
    </div>
</div>
                </div>

                <div class="c-list__item c-list__item--card o-card-list__item--82abfb87b381412fb3a0eec5db9b1f61">
                    <div class="c-card c-card--teaser c-card--82abfb87b381412fb3a0eec5db9b1f61" xmlns:xlink="http://www.w3.org/1999/xlink">
    <div class="c-card__header c-card__header--teaser">
        <a class="c-card__link" href="https://hfph.ade25.de/nachrichten/das-neue-vorlesungsverzeichnis-ist-da-1">
            <div class="c-card__kicker">


                        <time datetime="Montag, 25. Februar 2019 14:00:00 GMT+00:00">
                            25.02.2019
                        </time>&nbsp;



                    | <span>Anouncement</span>

            </div>
            <h3 class="c-card__title">Das neue Vorlesungsverzeichnis ist da!</h3>
        </a>
    </div>
    <div class="c-card__main">
        <div class="c-card__section">
            <div class="c-card__details">
                Das Vorlesungsverzeichnis für das kommende Semester kann nun auf der Webseite eingesehen werden.
            </div>
        </div>
    </div>
    <div class="c-card__footer c-card__footer--teaser">
        <a class="c-card__link" href="https://hfph.ade25.de/nachrichten/das-neue-vorlesungsverzeichnis-ist-da-1">
            <div class="o-read-more">
                <span class="o-read-more__icon c-card__icon">
                    <svg class="o-icon o-icon--default o-icon--circle o-icon__ui--chevron-dims">
                        <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use>
                    </svg>
                </span>
                <span class="o-read-more__text c-card__link-text">Weiterlesen</span>
            </div>
        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
