<footer class="app-footer" id="app-footer" role="contentinfo">
    <section class="app-footer__content app-footer__content--aside">
        <div class="app-footer__aside">
            {% include components/footer-social.html %}
        </div>
    </section>
    <section class="app-footer__content app-footer__content--primary">
        <div class="app-footer__main">
            {% include components/footer-toc.html %}
        </div>
    </section>
    <section class="app-footer__content app-footer__content--aside">
        <div class="app-footer__aside">
            {% include components/footer-meta.html %}
        </div>
    </section>
    {% include components/identifier.html %}
</footer>
