<footer class="app-footer" id="app-footer" role="contentinfo">
    <section class="app-footer__content app-footer__content--primary">
        <div class="app-footer__main o-grid o-grid--gutter">
            <div class="o-grid__item o-grid__item--width-100">
                {% include components/footer-toc.html %}
            </div>
            <!--<div class="o-grid__item o-grid__item--width-25">social bar</div>-->
        </div>
    </section>
    <section class="app-footer__content app-footer__content--aside">
        <div class="app-footer__aside">
            {% include components/footer-meta.html %}
        </div>
    </section>
</footer>
