<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
      <p class="app-copyright">
        <strong>&copy; {{ site.time | date: '%Y' }} Landratsamt Aichach-Friedberg</strong><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}hilfe">Hilfe</a><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}impressum">Impressum</a><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}rechtliche-hinweise">Rechtliche Hinweise</a><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}oeffnungszeiten">Öffnungszeiten</a><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}kontakt">Kontakt</a>
      </p>
    </div>
</footer>