<header class="app-header" id="app-header" role="banner">
    <div class="app-header__content">
        <section class="app-header__section app-header__section--brand">
            {% include components/brandpanel.html %}
        </section>
        <section class="app-header__section app-header__section--quick-links">
            {% include components/quick-links.html %}
            {% include components/language-menu.html %}
        </section>
        <!--<section class="app-header__section app-header__section--language-menu">

        </section>-->
        <section class="app-header__section app-header__section--navigation">
            {% include objects/burger.html %}
        </section>
    </div>
    {% include components/nav-bar.html %}
</header>
