<header class="app-header" id="app-header" role="banner">
    {% include components/identifier.html %}
    <div class="app-header__content">
        <section class="app-header__section">
            {% include components/brandpanel.html %}
        </section>
        <section class="app-header__section">
            {% include components/quick-links.html %}
        </section>
        <section class="app-header__section">
            {% include objects/burger.html %}
        </section>
    </div>
    {% include components/nav-bar.html %}
</header>
