$o-form-font-family-default:            $app-font-family-base;
$o-form-font-family-highlight:          $app-font-family-strong;

//
// Forms
//------------------------------------
.o-form {
    width: 100%;
}

.o-form__group {
    margin-bottom: 1rem;
}

.o-form__label {
    font-family: $o-form-font-family-highlight;
}

.o-form__control {

}

.o-form__actions {
    padding: 1rem;
}

