<!doctype html>
<html lang="de"
      xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    {% include base/head.html %}
  </head>
  <body>

    {% include components/toolbar.html %}

    {% include layout/header.html %}

    <main class="app-main" id="app-main" role="main">
        {% include components/component-breadcrumbs.html %}
        <aside class="app-sidebar" id="app-sidebar">
            <div class="o-aside" id="app-sidebar-content"></div>
        </aside>
        <section class="app-content" id="app-content">
            {{ content }}
        </section>
    </main>

    {% include layout/footer.html %}
  </body>
</html>
