/* open-sans-300 - latin */
@font-face {
    font-family: 'TAZ';
    font-style: normal;
    font-weight: bold;
    src: local('TAZ Semibold'), local('TAZ-Semibold'),
    url('../assets/fonts/taz-semibold-webfont.woff') format('woff');
}
