<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    {{ page.title }} &middot; HfPH
</title>
<script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.lazyClass = 'lazy-load';
    window.lazySizesConfig.loadingClass = 'lazy-load--loading';
    window.lazySizesConfig.loadedClass = 'image--loaded';
</script>
<!-- inject:css -->
<!-- endinject -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">
