$c-poster-color:                  $app-color-white;
$c-poster-padding:                $app-spacer-base;

.c-slider {
  display: block;
  width: 100%;
}

.c-slide {
  display: block;
  position: relative;
  width: 100%;
}

.c-slide__main {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: $c-poster-color;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.45));
  width: 100%;
  @include mq($from: md) {
    padding: 3rem;
  }
}
