$c-slider-color:                  $app-color-white;
$c-slider-padding:                $app-spacer-base;

.c-slider {
  display: block;
  width: 100%;
}

.c-slide {
  display: block;
  position: relative;
  width: 100%;
}

.c-slide__main {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: $c-slider-color;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  @include mq($from: md) {
    padding: 3rem;
  }
}

.c-slider__items {
  padding-top: 4rem;
  margin-bottom: 0;
}

.c-slide__figure {
  margin-bottom: 0;
}

/* ---- flickity overrides ---- */

.flickity-prev-next-button {
  background: transparent;
  display: none;
  @include mq($from: md) {
    display: block;
    width: 100px;
    height: 100px;
  }
}

.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-prev-next-button:hover {
    background: none;
}

.flickity-page-dots {
  display: none;
  @include mq($from: md) {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
  .dot {
    background-color: #fff;
    }
}


