// Main site nav bar
.c-nav-bar {
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 90vw;
    height: 100vh;
    overflow-y: scroll;
    @if $nav-bar-overlay-ltr == true {
        left: $nav-bar-position-default;
    } @else {
        right: $nav-bar-position-default;
    }
    border-top: 0px solid $gray-900;
    background-color: $app-color-primary;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 .65rem .65rem rgba(0,0,0,0.22);
    &--overlay {
        pointer-events: all;
        right: 0;
        transition:right .5s linear;
        @include mq($from: md) {
            width: 50vw;
        }
    }
    @include mq($from: navbar) {
        position: relative;
        display: block;
        right: 0;
        min-height: 3rem;
        background: $gray-600;
    }
}

.c-nav-bar--hidden {
    // height: 0;
    transition: right .5s linear;
}

.c-nav-bar__header {
    display: flex;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    background-color: $app-color-primary;
    color: $white;
    border-bottom: 1px solid $app-color-gray-light;
    @include mq($from: md) {
        padding-left: 2rem;
    }
}

.c-nav-bar__title {
    width: 100%;
    // padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: $app-font-family-strong;
    text-transform: uppercase;
    font-size: 1.25rem;
    //display: none;
}

.c-nav-bar__toggle {
    width: 4rem;
    // align-self: flex-end;
    line-height: 1;
    background: transparent; // remove default button style
    border: 1px solid transparent; // remove default button style
    // font-size: 3rem;
    color: $white;
}

.app-nav__toggle-icon {
    > polygon {
        fill: $app-color-white;
    }
}