//
// Footer
// -----------------------------------

.app-footer {
    padding-top: $spacer;
    padding-bottom: $spacer;
}

.app-footer__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &--primary {
        color: $white;
        background-color: $app-color-primary;
    }
}

.app-footer__main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include make-container-max-widths();
}

.app-footer__aside {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include make-container-max-widths();
}
