.o-page {
    display: block;
    position: relative;
}

.o-page--sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,1), rgba(239,239,239,1));
}

// Page components
// (should ideally only contain basic layout definitions)
.o-page__header {
    margin-bottom: $o-page-header-margin-bottom;
    font-size: $o-page-font-size-base;
    font-weight: $o-page-font-weight;
    line-height: $o-page-line-height;
    @include mq($from: md) {
        font-size: $o-page-font-size-lg;
    }
}
