.o-brand {
    display: block;
    margin: 1rem 1rem 0 1rem;
    width: 115px;
    height: 50px;
    @include mq($from: md) {
        width: 225px;
        height: 90px;
        margin-left: 0;
    }
}
