.o-icon {
    fill: currentColor;
    &--default {
        width: 1rem;
        height: 1rem;
    }
}

.o-icon__nav--default {
    width: 1rem;
    height: 1rem;
    color: #fff;
}

.o-icon__ui {
	&--calendar-dims {
		width: 4rem;
		height: 4rem;
	}
}
