$o-dropdown-font:                     $app-font-family-strong;

.o-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $app-color-gray-base;
    font-family: $o-dropdown-font;
    &--hidden {
        display: none;
    }
}

.o-dropdown--active {
    display: block;
}

.o-dropdown__list {
    list-style: none;
    padding: 1rem;
    width: 10rem;
    min-width: 10rem;

}

.o-dropdown__list-item {
    padding: .25rem;
    &:not(last) {
        border-bottom: 1px solid $app-color-gray;
    }
    &:last-of-type {
        border-bottom: 0px;
    }
}

.o-dropdown__link {
    color: $app-color-gray;
    text-transform: uppercase;
    &:after {
        content: ">";
        float: right;
    }
}

.o-dropdown__link:hover {
    text-decoration: none;
}
