///* ========================================================================
//   #CONFIG
//   ======================================================================== */
// Custom web font
// $app-font-family-base:              "EB Garamond";
$app-font-family-base:              "adobe-garamond-pro";
$app-font-family-light:             "adobe-garamond-pro";
$app-font-family-medium:            "TAZSemiLight";
$app-font-family-strong:            "TAZ";

// Configure site font stack
$app-font-family-serif:             $app-font-family-base, Garamont, serif;
$app-font-family-sans-serif:        'Times New Roman', Times;

$app-font-weight-base-custom:       $app-font-weight-base;
$app-font-weight-strong-custom:     600;
