$app-brand-width-base:                  100px;
$app-brand-height-base:                 40px;

$app-brand-width-md:                    225px;
$app-brand-height-md:                   90px;
$app-brand-width-lg:                    $app-brand-width-md;
$app-brand-height-lg:                   $app-brand-height-md;

$app-brand-margin-top:                  1rem;
$app-brand-margin-right:                1rem;
$app-brand-margin-bottom:               0;
$app-brand-margin-left:                 0;

