//
// Actionbar including meta nav and search box
// -------------------------------------------------

.app-actionbar { 
    margin-right: @line-height-computed * 2; 
    margin-top: -(@line-height-computed * 0.3);
}

.app-actionbar-nav {
    padding-right: @line-height-computed;
    margin-right: -(@line-height-computed * 1.5);
    font-size: @font-size-small;
    text-transform: uppercase;
    border: 0px solid @gray-light;
    border-width: 6px 1px 1px 1px;
    > li > a {
        border-radius: 0;
        padding: (@line-height-computed / 2.5);
        border: 0;
        outline: none;
    }
    > li > a:hover {
        background: none;
        border: 0;
        color: @app-blue;
    }
}

.app-actionbar-nav > li.active > a,
.app-actionbar-nav > li.active > a:hover,
.app-actionbar-nav > li.active > a:focus {
    border: 0;
    color: @text-color;
    background: transparent;
}

.app-actionbar-form {
    width: 100%;
    background: @gray-light;
    padding: (@padding-small-vertical - 2)  @line-height-computed (@padding-small-vertical - 1);
    border-top: 2px solid @gray-light;
    border-radius: 0;
    .btn-sm {
        background: white;
        border: 0;
    }
    .input-sm {
        border-color: @gray-light;
        border-left: none;
        .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
    }
}

// Make the nav align with the search bar on larger screens
@media (min-width: @screen-desktop) {
  .app-actionbar-nav {
    .pull-right();
  }
}