// Custom application specific styles
//--------------------------------------


body {
    background: @gray-lighter;
}


// Header styles including brand and main navigation
// -------------------------------------------------

body > header {
    #header {
        border-top: 5px solid @app-blue;
        background: white;
        #logo {
            display: block;
            overflow: hidden;
            margin: 60px 0px 60px 77px;
            border: 0px;
            background:url(../img/logo.jpg)  no-repeat 0 0;
            text-indent: -999999px;
            float: left;
            .size(243px, 97px);
        }

        #section-name {
              border: 0px solid red !important;
              font-size: @font-size-large * 3;
              line-height: @line-height-base * 3 !important; 
              margin: @line-height-base @line-height-base * 5;
              color: @gray-light;
            }


        #meta {
            height: @navbar-height - 10px;
            display: block;
            vertical-align: top;
            margin-right: @navbar-height * 2;
            border: 1px solid @app-gray;
            border-top-width: 5px;
            margin-top: -5px;
            ul {
                padding: 7px;
                margin-left: 10px;
                li {
                    list-style: none;
                    display: inline-block;
                    font-size: @font-size-mini;
                    a {
                        text-transform: uppercase;
                        padding: @padding-mini;
                    }
                    &.active {
                        a {
                            color: lighten(@app-blue, 20%);
                        }
                    }
                }
                &.metasections {
                    a:hover {
                        background: @app-blue;
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .navbar-form {
                    width: 239px;
                    margin: 0px;
                    background-color: @gray-light;
                    border: 0px solid red !important;
                    #searchField {
                        width: 135px;
                        line-height: @line-height-base;
                        min-height: 10px;
                        margin: 8px 0px 7px 0px;
                        padding: 0px;
                        border-radius: 0px;
                    }
                    label {
                        color: white;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        padding: 0px 20px;
                    }
                }
        }
        #home-btn {
            background: @app-blue;
            color: #fff;
            margin: 10px 0px 0;
            z-index: @zindex-dropdown;
        }
        .nav-collapse {
            margin-left: @navbar-height - 3;
        }
        .nav-justified {
          max-height: 50px;
          background-color: @app-yellow;
          border-radius: 0px;
          //border: 1px solid #ccc;
          .divider-vertical {
            display: none;
          }
        }
        .nav-justified li a {
          padding-top: 15px;
          padding-bottom: 15px;
          color: @app-blue;
          font-weight: 700;
          text-align: center;
          border-left: 1px solid rgba(255,255,255,.75);
          border-right: 1px solid rgba(0,0,0,.1);
          background-color: @app-yellow;
        }
        .nav-justified .active a {
          background-color: @app-blue;
          color: #fff;
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
        }
        .nav-justified li:first-child a {
          border-left: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .nav-justified li:last-child a {
          border-right: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
    }
    #toolbar + #header,
    #editbar-wrapper + #header {
        margin-top: @navbar-height;
    }
}

#navigation,
#portal-navigation {
    margin-left: 0px;
}

#navigation > li > a,
#portal-navigation > li > a {
    text-transform: uppercase;
}

#portal-subsubnavigation > li.active > a,
    #portal-subsubnavigation > li.active > a:hover,
    #portal-subsubnavigation > li.active > a:focus {
        background: @app-gray;
        border-radius: 0px;
}

#tickerbar {
    .navbar-inner {
        color: @state-danger-text;
        background: @state-danger-bg;
        border-bottom: 2px solid @state-danger-border;
        border-radius: 0px;
        #bulletins {
            padding: @line-height-base / 2  0 0;
        }
    }
}

#subnavigation {
    padding-left: @line-height-base * 1.5;
}

// Base utility classes

.tile {
    margin-bottom: @line-height-base;
    background: white;
    border-radius: 0px;
    .box-shadow(0 0 5px 5px rgba(0,0,0,.05));
    &.tile-news {
        padding: @line-height-base;
        margin-bottom: 0px;
        .box {
            border-right: 1px solid @gray-lighter;
            padding-right: @line-height-base * 1.5;
        }
        h5 {
            color: @app-blue;
        }
        img {
            //.img-polaroid();
            border-top: 4px solid @app-yellow;
        }
        p {
            margin-top: @line-height-base / 2;
            font-size: @font-size-small;
            line-height: @line-height-base - 4;
        }
    }
    .page-header {
        margin-top: 0px;
        padding-top: @line-height-base;
        h1 {
            color: @app-blue;
        }
    }
}


// Main content area styles

#content {
    //padding: @line-height-base;
    #frontpage-content {
        padding: 0;
        .page-header {
            display: none;
        }
    }
    .tile-content {
        padding: @line-height-base;
    }
}
.documentFirstHeading {
    font-size: @font-size-large;
    color: @app-blue;
}

a.link-more {
    .font-size(@font-size-base * 1.5);
    text-decoration: none;
    line-height: @line-height-base / 4;
    margin-bottom: 9px;
    &:hover {
        color: black;
    }
}

// Sidebar specific styles

#sidebar {
    padding: @line-height-base @line-height-base / 2;
    .box {
        .clearfix();
        h4,
        h5 {
            color: @app-blue;
            margin: 5px 0px 3px 0px;
        }
        p {
            margin: 0;
            .font-size(@font-size-mini);
            color: black;
        }
        .btn {
            margin-top: @line-height-base / 2;
            border-radius: 0;
            //.buttonBackground(@grayLight, lighten(@grayLight, 5%));
        }
        .box-content {
            border: 1px solid @gray-lighter;
            border-top: 4px solid @app-yellow;
            .box-item {
                padding: @padding-mini; 
                .clearfix();
                &:nth-child(odd) {
                    background-color: @table-bg-accent;
                }
            }
        }
    }
}

// site footer
body > footer {
    margin-top: @line-height-base;
    padding: @line-height-base /3;
    border-top: 5px solid @app-blue;
    background: white;
    #footer {
        padding: 0;
        
        .nav {
            margin-top: -11px;
            margin-bottom: 0;
            margin-left: 77px;
            width: 600px;
            border-top: 5px solid @app-gray;
            text-transform: uppercase;
            font-size: 0.8em;
        }
        .donation {
            background:url(../img/donation.gif)  no-repeat 0 7px;
            padding-left: 25px;
        }
    }
}
