// Custom application specific styles
//--------------------------------------


body {
    background: @gray-lighter;
}

// Reset border radius on form elements
.btn,
.form-control {
    border-radius: 0;
}

// Adjust header for cms toolbar height

.app-toolbar + .app-header {
    margin-top: @navbar-height;
}

// Actionbar including searchbox and meta navigation

.site-actionbar {
    border: 1px solid @app-gray;
    ul {
        font-size: @font-size-small;
        text-transform: uppercase;
    }
}

#portal-subsubnavigation > li.active > a,
    #portal-subsubnavigation > li.active > a:hover,
    #portal-subsubnavigation > li.active > a:focus {
        background: @app-gray;
        border-radius: 0px;
}

#tickerbar {
    .navbar-inner {
        color: @state-danger-text;
        background: @state-danger-bg;
        border-bottom: 2px solid @state-danger-border;
        border-radius: 0px;
        #bulletins {
            padding: @line-height-computed / 2  0 0;
        }
    }
}

#subnavigation {
    padding-left: @line-height-computed * 1.5;
}


// Temporary fix for page-header in new app-tile components

.page {
    padding: @line-height-computed;
    .page-header {
        margin-top: 0;
    }
}



// Main content area styles

.app-content {
    //padding: @line-height-base;
    #frontpage-content {
        padding: 0;
        .page-header {
            display: none;
        }
    }
    .tile-content {
        padding: @line-height-base;
    }
}

.app-content-body {
    padding: @line-height-computed;
}

.template-login_form .app-content-body {
    padding: @line-height-computed;
}

// Special fullscreen hero unit (login form etc)
.app-content-hero {
    max-width: @container-tablet;
    margin: (@navbar-height * 2) auto;
}


// App image styling

.app-img {
    margin-bottom: (@line-height-computed / 2);
    line-height: @line-height-base;
    background-color: @thumbnail-bg;
    border: 1px solid @thumbnail-border;
    border-top: 4px solid @app-yellow;
    .transition(all .2s ease-in-out);
    .img-responsive(inline-block);
}

.documentFirstHeading {
    font-size: @font-size-large;
    color: @app-blue;
}

a.link-more {
    font-size: @font-size-base * 1.5;
    text-decoration: none;
    line-height: @line-height-base / 4;
    margin-bottom: 9px;
    &:hover {
        color: black;
    }
}

ul.navTree {
    .nav();
    li.navTreeCurrentNode {
        a,
        a:hover,
        a:focus {
            text-decoration: none;
            background-color: @gray-lighter;
        }
    }
}

// Spacing for login/signin page

#login-forgotten-password {
    margin: @navbar-height 0;
}

// Reset tiny mce content body styling for better readability

.mceContentBody {
    padding: @line-height-computed;
}

