// Custom application specific styles
//--------------------------------------


body {
    background: @gray-lighter;
}

// Reset border radius on form elements
.btn,
.form-control {
    border-radius: 0;
}

// Adjust header for cms toolbar height

.app-toolbar + .app-header {
    margin-top: @navbar-height;
}

// Actionbar including searchbox and meta navigation

.app-header-content {
    border-top: 5px solid @app-blue;
}

.site-actionbar {
    border: 1px solid @app-gray;
    ul {
        font-size: @font-size-small;
        text-transform: uppercase;
    }
}

#portal-subsubnavigation > li.active > a,
    #portal-subsubnavigation > li.active > a:hover,
    #portal-subsubnavigation > li.active > a:focus {
        background: @app-gray;
        border-radius: 0px;
}

#tickerbar {
    .navbar-inner {
        color: @state-danger-text;
        background: @state-danger-bg;
        border-bottom: 2px solid @state-danger-border;
        border-radius: 0px;
        #bulletins {
            padding: (@line-height-computed / 2)  0 0;
        }
    }
}

#subnavigation {
    padding-left: @line-height-computed * 1.5;
}


// Temporary fix for page-header in new app-tile components

.page {
    padding: @line-height-computed;
    .page-header {
        margin-top: 0;
        border: none;
    }
}

.page-signin {
    max-width: 480px;
    .page-content {
        padding-top: @line-height-computed;
    }
    .page-footer {
        //padding-top: @line-height-computed;
        //border-top: 1px solid @gray-lighter;
    }
}

// sidebar
.app-sidebar {
    border: 0px solid red;
    display: inline-block;
    width: 100%;
    padding: @line-height-computed;
}



// Main content area styles

.app-content {
    padding: @line-height-computed;
    .img-section {
        border: 5px solid white;
        width: 100%;
    }
    .tile-content {
        padding: @line-height-base;
    }
}

.img-section {
    .img-responsive();
    border: ceil((@line-height-computed / 4)) solid #fff;
}

// Temporary css fixes - Presentation

.app-content-body {
    padding: @line-height-computed;
    .page-header {
        margin-top: 0;
        border: none;
        h1 {
            font-size: (@font-size-base * 2);
        }
    }
    .lead {
        font-size: ceil(@font-size-base * 1.2);
    }
    .app-list-item {
        background: @gray-lighter;
        padding: @line-height-computed;
        margin-bottom: @line-height-computed;
        .list-item-heading {
            margin-top: 0;
        }
    }
}

.template-login_form .app-content-body {
    padding: @line-height-computed;
}

// Special fullscreen hero unit (login form etc)
.app-content-hero {
    max-width: 480px;
    margin: (@navbar-height * 2) auto;
}

.signin-brand {
    display: block;
    overflow: hidden;
    background:url(../assets/img/logo.jpg)  no-repeat 0 0 transparent;
    text-indent: -999999px;
    .size(250px, 100px);
}


// App image styling

.app-img {
    margin-bottom: (@line-height-computed / 2);
    line-height: @line-height-base;
    background-color: @thumbnail-bg;
    border: 1px solid @thumbnail-border;
    border-top: 4px solid @app-yellow;
    .transition(all .2s ease-in-out);
    .img-responsive(inline-block);
}

.documentFirstHeading {
    font-size: @font-size-large;
    color: @app-blue;
}

a.link-more {
    font-size: @font-size-base * 1.5;
    text-decoration: none;
    line-height: @line-height-base / 4;
    margin-bottom: 9px;
    &:hover {
        color: black;
    }
}

ul.navTree {
    .nav();
    li.navTreeCurrentNode {
        a,
        a:hover,
        a:focus {
            text-decoration: none;
            background-color: @gray-lighter;
        }
    }
}

// Spacing for login/signin page

#login-forgotten-password {
    margin: @navbar-height 0 @line-height-computed;
}

// Reset tiny mce content body styling for better readability

.mceContentBody {
    padding: @line-height-computed;
}

