//
// Scaffolding tiles
// --------------------------------------


.app-tile {
    margin-bottom: @line-height-computed;
    background: #fff;
    border-radius: 0;
    .box-shadow(0 0 5px 5px rgba(0,0,0,.05));
    //&.tile-news {
    //    padding: @line-height-computed;
    //    margin-bottom: 0px;
    //    .box {
    //        border-right: 1px solid @gray-lighter;
    //        padding-right: @line-height-computed * 1.5;
    //    }
    //    h5 {
    //        color: @app-blue;
    //    }
    //    img {
    //        //.img-polaroid();
    //        border-top: 4px solid @app-yellow;
    //    }
    //    p {
    //        margin-top: @line-height-computed / 2;
    //        font-size: @font-size-small;
    //        line-height: @line-height-computed - 4;
    //    }
    //}
    //.page-header {
    //    margin-top: 0px;
    //    padding-top: @line-height-computed;
    //    h1 {
    //        color: @app-blue;
    //    }
    //}
}