//
// Scaffolding tiles
// --------------------------------------


.app-tile {
    .clearfix();
    margin-bottom: @line-height-computed;
    background: #fff;
    border-radius: 0;
    .box-shadow(0 0 5px 5px rgba(0,0,0,.05));
}

.app-tile-footer {
  padding: @line-height-computed;
}