//
// Brandbar including section locator and logo
// --------------------------------------------------

.app-brandbar {
    padding: @navbar-height @navbar-height (@navbar-height / 2);
    .brandbar-brand {
        display: block;
        overflow: hidden;
        background:url(../assets/img/logo.jpg)  no-repeat 0 0 transparent;
        text-indent: -999999px;
        .size(250px, 100px);
    }
    .brandbar-sectionname {
        font-size: @font-size-large * 3;
        line-height: @line-height-computed * 3; 
        //margin: @navbar-height @line-height-computed * 5;
        color: @gray-light;
        text-align: right;
    }
}

// Add spacing on desktop screens
@media (min-width: @screen-desktop) {
  .app-navbar {
    padding: (@navbar-height * 2) @navbar-height @navbar-height;
  }
}
