//
// Brandbar including section locator and logo
// --------------------------------------------------

.app-brandbar {
    padding: @navbar-height (@navbar-height / 2) (@navbar-height / 2);
    .brandbar-brand {
        //display: block;
        //overflow: hidden;
        //background:url(../assets/img/logo.jpg)  no-repeat 0 0 transparent;
        //text-indent: -999999px;
        //.size(250px, 100px);
    }
    .brandbar-label {
        margin-top: @line-height-computed;
        text-transform: uppercase;
        font-weight: 600;
        @media (min-width: @screen-tablet) {
            .text-right();
            margin-top: 0;
        }
    }
    .brandbar-sectionname {
        font-size: @font-size-large * 2;
        line-height: @line-height-computed * 3; 
        color: @gray-light;
        text-align: right;
    }
    @media (min-width: @screen-desktop) {
        padding-right: @navbar-height;
        padding-left: @navbar-height;
    }
}

// Add spacing on desktop screens
@media (min-width: @screen-desktop) {
  .app-navbar {
    padding: (@navbar-height * 2) @navbar-height @navbar-height;
  }
}
