.event.summary {
    clear: both;
    float: left;
    border: 1px solid #dddddd;
    margin-right: @line-height-computed;
    margin-top: @line-height-computed;

    dt {
        background: #eeeeee;
        padding: (@line-height-computed / 2);
        border-top: 1px solid #dddddd;
    }

    dd {
        padding: (@line-height-computed / 2);
        border-top: 1px solid #dddddd;
    }

    .timezone {
        display: none;
    }
}