//
// Application footer
// ---------------------------------


.app-footer {
    margin-top: @line-height-base;
    padding: @line-height-base /3;
    border-top: 5px solid @app-blue;
    background: white;
}

.app-footer-content {
    padding: 0;
    .nav {
        margin-top: -@padding-small-vertical;
        margin-bottom: 0;
        margin-left: 77px;
        width: 600px;
        border-top: @padding-small-vertical solid @app-gray;
        text-transform: uppercase;
        font-size: 0.8em;
    }
    // Custom styles for donation link in footer navigation
    .link-donation {
        background:url(../assets/img/donation.gif)  no-repeat 0 7px;
        padding-left: 25px;
    }
}