// Custom pro philosophia section specific styles
//-----------------------------------------------

.subsection-institute-igp {

    .app-navbar {
        background: #ef7d00;
    }

    .app-header-content {
        background: #005088; /* Old browsers */
background: -moz-linear-gradient(top,  #005088 0%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005088), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #005088 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #005088 0%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #005088 0%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #005088 0%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005088', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

        border-top: 5px solid #ef7d00;
    }

    .brandbar-brand {
        display: block;
        overflow: hidden;
        background:url(../assets/img/logo-igp.png)  no-repeat 0 0 transparent;
        text-indent: -999999px;
        .size(300px, 100px);
    }

    .app-actionbar-nav {

        > li > a {
            color: white;
        }
        > li > a:hover {
            color: white;
        }
    }


.app-footer-content {
    .nav {
        border-top: 5px solid #ef7d00;
        background: #005088;
        li > a {
            color: white;
        }
        li > a:hover {
            color: white;
        }
        li > a:focus {
            color: white;
        }
    }
}
    
}