// Custom pro philosophia section specific styles
//-----------------------------------------------

.subsection-institute-igp {

    .app-navbar {
        background: #ef7d00;
    }

    .app-header-content {

        border-top: 5px solid #ef7d00;
    }

    .brandbar-brand {
        display: block;
        overflow: hidden;
        background:url(../assets/img/logo-igp.png)  no-repeat 0 0 transparent;
        text-indent: -999999px;
        .size(300px, 100px);
    }


.app-footer-content {
    .nav {
        border-top: 5px solid #ef7d00;
    }
}
    
}