// Custom pro philosophia section specific styles
//-----------------------------------------------

.subsection-institute-igp {

    .app-navbar {
        background: #ef7d00;
    }

    .app-header-content {

        border-top: 5px solid #ef7d00;
    }


.app-footer-content {
    .nav {
        border-top: 5px solid #ef7d00;
    }
}
    
}