//
// Main site navigation bar
// -----------------------------------------------------------


.app-navbar {
    background: @app-yellow;
    border-radius: 0;
    padding: 0px;
    margin-bottom: 0px;
    .navbar-brand {
        background: @app-blue;
        color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        //margin: 10px 0px 0;
        z-index: @zindex-dropdown;
    }
    .navbar-collapse {
        padding-right: 0;
    }
}

.app-navbar-main {
    padding-right: 0;
    > .navitem {
        a {
            font-weight: 700;
            color: @app-blue;
            text-transform: uppercase;
            padding: ((@navbar-height - @line-height-computed) / 2) (@line-height-computed / 2);
            border-left: 1px solid rgba(255,255,255,.75);
            border-right: 1px solid rgba(0,0,0,.1);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
            &:hover {
                background-color: @app-blue;
                color: #fff;
            }
        }
    
        &.active a,
        &.selected a {
            background-color: @app-blue;
            color: #fff;
        }

    }
}

// Subnavigation

.app-subnavbar {
    .app-subnav > li > a:hover,
    .app-subnav > li > a:focus {
        border-radius: 0;
    }
    .app-subnav > li.active > a, 
    .app-subnav > li.active > a:hover, 
    .app-subnav > li.active > a:focus {
        background-color: @app-blue;
        border-radius: 0;
    }
}

