//
// Image and picture elements
//

.app-img {
    margin-bottom: (@line-height-computed / 2);
    line-height: @line-height-base;
    background-color: @thumbnail-bg;
    border: 1px solid @thumbnail-border;
    border-top: 4px solid @app-yellow;
    .transition(all .2s ease-in-out);
    .img-responsive(inline-block);
}

.app-img-inverse {
    margin-bottom: (@line-height-computed / 2);
    line-height: @line-height-base;
    background-color: @thumbnail-bg;
    border: 1px solid @thumbnail-border;
    border-top: 4px solid black;
    .transition(all .2s ease-in-out);
    .img-responsive(inline-block);
}


.app-img-placeholder {
    margin-bottom: (@line-height-computed / 2);
    line-height: @line-height-base;
    background-color: @thumbnail-bg;
    border: 1px solid @thumbnail-border;
    border-top: 4px solid @app-yellow;
    width: 90px;
    height: 140px;
    text-align: center;
    padding-top: @line-height-computed;
    color: @gray-lighter;
    .transition(all .2s ease-in-out);
}

.no-img {
  .app-img-placeholder();
}

.app-img-section {
    border: ceil((@line-height-computed / 4)) solid #fff;
}