// Custom pro philosophia section specific styles
//-----------------------------------------------

.section-pro-philosophia {

    .app-header-content {
        background: #7F7FB2;
    }

    .brandbar-brand {
        display: block;
        overflow: hidden;
        background:url(../assets/img/logo-pro-philosophia.jpg)  no-repeat 0 0 transparent;
        text-indent: -999999px;
        .size(250px, 100px);
    }

    .app-actionbar-nav {

        > li > a {
            color: white;
        }
        > li > a:hover {
            color: white;
        }
    }


.app-footer-content {
    .nav {
        background: #7F7FB2;
        li > a {
            color: white;
        }
        li > a:hover {
            color: white;
        }
        li > a:focus {
            color: white;
        }
    }
}
    
}