//
// Application variables and settings
// --------------------------------------------------

@namespace:                 app;

// Global project settings
// --------------------------------------------------

@app-blue:                  #003366;
@app-gray:                  #404040;
@app-yellow:                #ffcc33;


// BS overrides
// --------------------------------------------------


@link-color:                @app-blue;

@font-family-sans-serif:    Trebuchet MS, "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family:      @font-family-serif;

@input-border-radius:       0px;


// Iconography
// -------------------------

@FontAwesomePath:           "../libs/font-awesome/font";

@icon-font-path:            @FontAwesomePath;
@icon-font-name:            "FontAwesome";

