//
// Application stylesheet
// -----------------------------------------------



.ppe-section-sortable {
  .sortable-placeholder {
    .size(100%, ceil((@navbar-height * 2)));
    margin: @line-height-base 0;
    border: 2px solid @state-warning-border;
    background: @state-warning-bg;
  }
  .sortable-dragging {
    border: 1px solid @state-danger-border;
    background: #f2f2f2;
    .opacity(1);
  }
}

.ppe-col-info {
    padding-top: ceil((@line-height-computed * .75));
    font-size: @font-size-base;
    color: @gray-light;
    text-transform: uppercase;
}

.ppe-action {
  display: block;
  margin-top: ceil((@line-height-computed * .75));
  margin-right: 0;
  margin-left: floor((@line-height-computed));
  line-height: 1;
  &.ppe-action-primary {
    color: darken(@gray-light, 10%);
  }
  &.ppe-action-close {
    .opacity(.5);
    &:hover {
      .opacity(1);
    }
  }
  &.ppe-action-transition,
  &.ppe-action-remove {
    margin-right: ceil((@line-height-computed * 2 ));
    padding-right: @padding-base-horizontal;
    border-right: 1px solid @gray-lighter;
  }
}

.ppe-dragindicator {
    cursor: move;
}

.ppe-row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ppe-col-visible {
  // padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f9f9f9;
  &.ppe-col-bordered {
    padding-top: @padding-base-vertical;
    padding-bottom: @padding-base-vertical;
    border-left: 1px solid @gray-light;
  }
}

.ppe-col-action {
  background-color: @gray;
  border-right: 1px solid @text-color;
  .ppe-link {
    text-align: center;
    color: #fff;
  }
}

.ppe-panel {
  // padding-top: @line-height-computed;
  border-top: 2px solid @gray;
  .ppe-panel-icon {
    margin-right: ceil((@line-height-computed / 2));
    padding: 0 ceil((@line-height-computed / 2));
    border-right: 1px solid @gray;
  }
  .pp-panel-title {
    margin-bottom: 0;
    > a {
      font-weight: 200;
    }
  }
}

.ppe-block-sortable {
  .ppe-block-gridpreview {
    .opacity(0);
  }
  .ppe-panel-preview {
    color: @gray;
  }
  &:hover {
    .ppe-block-title {
      .opacity(.25);
    }
    .ppe-block-gridpreview {
      .opacity(1);
    }
  }
}


.ppe-ratio {
  .center-block();
  width: @screen-xs;
  margin-top: @line-height-computed;
}

.app-contentblock {
  position: relative;
  display: block;
  clear:both;
  min-height: ceil(@line-height-computed * 1.5);
  border-top: 1px solid @navbar-inverse-bg;
  color: @navbar-inverse-bg;
}

.contentpanel-editbar {
    position:absolute;
    top:0;
    right:1px;
    display: none;
    width:100%;
    height:100%;
    padding: ceil(@line-height-computed * 1.5) ceil(@line-height-computed / 2);
    background:rgba(255, 255, 255, 0.5);
    border-left: 2px solid @navbar-inverse-border;
    text-align:left;
    color: @text-color !important;
    z-index:2;
}
