// Site setup configlets - plone control panel
.c-configlet,
.configlets {
	padding-top: 1rem;
    padding-bottom: 1rem;
    @include list-reset();
    > form {
        padding-top: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-top: 1px solid $app-color-gray;
    }
}
