//
// Header
// ------------------------------------------
.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $app-color-gray-light;
    background: linear-gradient(rgba(255,255,255,1), rgba(239,239,239,1));
    @include when-inside('.template-frontpage-view') {
        background: transparent;
        &--offset {
            background: linear-gradient(rgba(255,255,255,1), rgba(239,239,239,1));
        }
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}

.c-header {
    padding-top: 1.5rem;
    @include make-container();
    @include make-container-max-widths();
}

.app-header__content {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2rem;
    @include mq($from: md) {
        @include make-container();
        @include make-container-max-widths();
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        // display: grid;
        // grid-template-columns: 50% 1fr 1fr;
        // grid-template-areas: "column-1 column-2 column-3";
    }
}

.app-header__section {
    display: block;
    position: relative;
    width: 100%;
    &:first-child {
        width: 50%;
        min-width: 50%;
    }
    &:nth-child(2) {
        //order: 1;
        width: 50%;
    }
    @include mq($from: md) {
        width: 25%;
        &:first-child {
            width: 50%;
        }
        &:nth-child(2) {
            order: 0;
            width: 25%;
        }
    }
}
