//
// Cards displaying thumbnails and data collections
// ------------------------------------------------------
$c-card-display-default:                block;
$c-card-width-default:                  100%;
$c-card-font-family-base:               $app-font-family-strong;
$c-card-font-family-highlight:          $c-card-font-family-base;

$c-card-cap-bg:                         transparent;

.c-card {
    display: $c-card-display-default;
    width: $c-card-width-default;
}

//== Card layout
//
//## Reflow card contents based on viewport size
.c-card__header {
    @include clearfix;
    padding: $card-spacer-y $card-spacer-x;
    background: $c-card-cap-bg;
    font-family: $c-card-font-family-highlight;
}

//** Card content
.c-card__main {
    @include clearfix;
    padding: $card-spacer-y $card-spacer-x;
}

//** Card footer
.c-card__footer {
    padding: $card-spacer-y $card-spacer-x;
    font-family: $c-card-font-family-base;
}

// Card contents
.c-card__title {
    text-align: center;
}

.c-card__section {
    text-align: center;
    margin-bottom: 1rem;
}


// Alternative card styles and versions
.c-card--banner {
    // A banner card consists of a banner element eg a picture and a caption
    .c-card__header,
    .c-card__footer {
        text-align: center;
    }
}


// TODO: DEPRECATED - Remove or refactor the following parts
//== Card lists
//
//## Use a grid layout for card listings
.app-cards {
    // Fallback for browsers lacking flexbox support
    @include when-inside('.no-flexbox') {
        display: table;
    }
    // Make flex row
    @include make-row();
}

//** Base card styles
.app-card {
    @include when-inside('.no-flexbox') {
        // Fallback
        display: table-cell;
    }
    @include when-inside('.app-cards') {
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }
}


//== Gutter
//
//## Add spacing to cards
.app-card-gutter {
  margin-left: -1rem;
  margin-right: -1rem;
  .app-card {
      margin-left: 1rem;
      margin-right: 1rem;
  }
}


//== Embedded card
//
//## Remove spacing for card inside card usecase
.app-card--level-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
}


//== Card title
//
//## Title is used inside the card-main container
.app-card__title {
  font-size: 1.25rem;
  font-weight: 500;
}

//** Set card content specific styles
.app-card__content {
  padding-top: 1rem;
  font-size: 1rem;
}

