.c-identifier {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
    padding: .25rem 1rem;
    width: 100%;
    display: none;
    color: $identifier-color;
    background-color: $identifier-bg-color;
    font-size: $font-size-small;
    //border-bottom: 1px solid $identifier-border-color;
    //border-left: 1px solid $identifier-border-color;
}

.c-identifier__content {
    @include make-container();
    @include make-container-max-widths();
    @include font-size($font-size-small);
    font-family: $app-font-family-strong;
}
