.c-quick-links {
    display: $c-quick-links-display;
    position: relative;
}

.c-quick-links__button {
    display: flex;
    flex-direction: $c-quick-links-flex-direction;
    line-height: 1;
    background: $c-quick-links-background-color; // remove default button style
    border: $c-quick-links-border-width $c-quick-links-border-style $c-quick-links-border-color; // remove default button style
    cursor: pointer;
}

.c-quick-links__text {
    align-self: flex-end;
    font-family: $c-quick-links-font;
    font-size: $c-quick-links-text-font-size;
    color: $c-quick-links-text-color;
    text-transform: $c-quick-links-text-transform;
}

.c-quick-links__icon {
    margin-right: .25rem;
    margin-bottom: .075rem;
    font-size: $c-quick-links-icon-font-size;
    color: $c-quick-links-icon-color;
    width: 1.5rem;
    height: 1.5rem;
}
