.c-identifier {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
    padding: .25rem 1rem;
    width: 100vw;
    color: $identifier-color;
    background-color: $identifier-bg-color;
    font-size: $font-size-small;
    border-bottom: 1px solid $identifier-border-color;
    border-left: 1px solid $identifier-border-color;
}

.c-identifier__content {
    font-size: $font-size-small;
}
