.c-language-menu {
    display: $c-quick-links-display;
    position: relative;
}

.c-language-menu__button {
    display: flex;
    flex-direction: $c-quick-links-flex-direction;
    line-height: 1;
    background: $c-quick-links-background-color; // remove default button style
    border: $c-quick-links-border-width $c-quick-links-border-style $c-quick-links-border-color; // remove default button style
    cursor: pointer;
    @include mq($from: md) {
        width: 100%;
        justify-content: center;
    }
}
