//
// Styleguide
// --------------------------------------------


.app-styleguide {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.sg-aside {
  flex: 1;
    @include media-breakpoint-up(md) {
    flex: 0 0 12em;
  }
}

.sg-main {
  flex: 1;
  padding: 0 2rem 0 4rem;
  background: #fff;
}


//== Sidebar
//
//## Navigation and version information
.sg-sidebar {
  padding-top: 1rem;
  height: 100%;
  border-right: 1px solid $gray-lighter;
}

//Styleguide color swatches
.sg-card-uid-colors {
  text-align: center;
}

.sg-uid-color {
  padding: 1rem;
  color: #fff;
}

.sg-ui-color-primary {
  background-color: $app-primary-base;
}

// Header component
.sg-sidebar-header {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.sg-sidebar-title {
  font-size: 1.5rem;
  font-weight: 400;
}

// Subtitle showing styleguide version information
.sg-sidebar-subtitle {
  color: $gray-light;
}


//== Sidebar navigation
//
//## Unordered list for component navigation
.sg-sidebar-nav {
  margin-bottom: 1rem;
  padding-left: 1rem; // Override default ul/ol
  list-style: none;
  @include clearfix;
  > li {
    position: relative;
    display: block;
    > a {
      position: relative;
      display: block;
      // padding-left: $nav-link-padding;
      color: $gray;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-tabs-active-link-bg;
      }
      &.active {
        border-right: 1px solid $gray;
      }
    }
  }
}

// Navlist header (first child li)
.sg-sidebar-nav-header {
  // padding-left: $nav-link-padding;
  font-weight: 400;
}

.sg-sidebar-nav > li,
.sg-sidebar-navitem {
  font-size: 0.8rem;
  > a {
     color: $gray;
  }
  &.active {
    border-right: 5px solid $gray;
  }
}

//== Styleguide card subclasses
//
//## Extend the base classes provided by components/cards.scss to
//## provide styleguide specific subcards
.sg-cards {
  display: flex;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.sg-card {
  flex: 0 0 50%;
}

.sg-card-header {
    background: transparent;
}



//== Styleguide sections
//
//## Content blocks for each component or feature.

// Space things out
.sg-section {
  margin-bottom: 60px;
}
.sg-section:last-child {
  margin-bottom: 0;
}


//== Styleguide Examples
//
//## Isolated sections of example content for each component or feature.
//## Usually followed by a code snippet.
.sg-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 15px -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
/* Echo out a label for the example */
.sg-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Beispiel";
}

.sg-example-padded-bottom {
  padding-bottom: 24px;
}

/* Tweak display of the code snippets when following an example */
.sg-example + .highlight,
.sg-example + .zero-clipboard + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .sg-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    box-shadow: none;
  }
  .sg-example + .highlight,
  .sg-example + .zero-clipboard + .highlight {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
  }
  .sg-example-standalone {
    border-radius: 4px;
  }
}

/* Undo width of container */
.sg-example .container {
  width: auto;
}

/* Tweak content of examples for optimum awesome */
.sg-example > p:last-child,
.sg-example > ul:last-child,
.sg-example > ol:last-child,
.sg-example > blockquote:last-child,
.sg-example > .form-control:last-child,
.sg-example > .table:last-child,
.sg-example > .navbar:last-child,
.sg-example > .jumbotron:last-child,
.sg-example > .alert:last-child,
.sg-example > .panel:last-child,
.sg-example > .list-group:last-child,
.sg-example > .well:last-child,
.sg-example > .progress:last-child,
.sg-example > .table-responsive:last-child > .table {
  margin-bottom: 0;
}
.sg-example > p > .close {
  float: none;
}

// .sg-example .app-navitem-tab {
//     > span {
//       font-size: 0.5rem;
//     }
// }

//** Helper class for responsive display
.app-navbar-collapsed,
.app-navbar-open {
  background-color: $app-primary;
  border-bottom: 0;
}

.app-navbar-open {
  .app-navbar-nav {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-top: 1px solid #fff;
  }
  .app-navitem {
    width: 100%;
    font-size: 1rem;
    .app-navitem-tab {
      // align-items: flex-start;
      text-align: left !important;
    }
    .app-navitem-tab > span {
      flex: 1;
      padding: 0.5rem 0 0.5rem 0.75rem;
      text-align: left;
    }
  }
}

.sg-example-container-xs {
  width: 340px;
}


/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  font-family: $font-family-monospace;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 0.8rem;
}
.highlight pre code {
  font-size: inherit;
  color: #333; /* Effectively the base text color */
}
.highlight pre code:first-child {
  display: inline-block;
  padding-right: 45px;
}


/*
 * Color swatches
 *
 * Color swatches and associated values for our grayscale and brand colors.
 */

.color-swatches {
  margin: 0 -5px;
  overflow: hidden; /* clearfix */
}
.color-swatch {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  text-align: center;
  color: #fff;
  font-size: $font-size-sm;
}

@media (min-width: 768px) {
  .color-swatch {
    width: 100px;
    height: 100px;
  }
}

/* Framework colors */
.color-swatches .gray-darker {
  background-color: #222;
}
.color-swatches .gray-dark {
  background-color: #333;
}
.color-swatches .gray {
  background-color: #555;
}
.color-swatches .gray-light {
  background-color: #999;
}
.color-swatches .gray-lighter {
  background-color: #eee;
}
.color-swatches .brand-primary {
  background-color: #337ab7;
}
.color-swatches .brand-success {
  background-color: #5cb85c;
}
.color-swatches .brand-warning {
  background-color: #f0ad4e;
}
.color-swatches .brand-danger {
  background-color: #d9534f;
}
.color-swatches .brand-info {
  background-color: #5bc0de;
}

/* Docs colors */
.color-swatches .bs-purple {
  background-color: #563d7c;
}
.color-swatches .bs-purple-light {
  background-color: #c7bfd3;
}
.color-swatches .bs-purple-lighter {
  background-color: #e5e1ea;
}
.color-swatches .bs-gray {
  background-color: #f9f9f9;
}


//** Primary brand color scheme
.color-swatches .app-primary-darker {
  background-color: $app-primary-darker;
}
.color-swatches .app-primary-dark {
  background-color: $app-primary-dark;
}
.color-swatches .app-primary {
  background-color: $app-primary;
}
.color-swatches .app-primary-light {
  background-color: $app-primary-light;
}
.color-swatches .app-primary-lighter {
  background-color: $app-primary-lighter;
}

//** Secondary brand color scheme
.color-swatches .app-secondary-darker {
  background-color: $app-secondary-darker;
}
.color-swatches .app-secondary-dark {
  background-color: $app-secondary-dark;
}
.color-swatches .app-secondary {
  background-color: $app-secondary;
}
.color-swatches .app-secondary-light {
  background-color: $app-secondary-light;
}
.color-swatches .app-secondary-lighter {
  background-color: $app-secondary-lighter;
}
