.app-fp-tile {
    height: 100%;
}

// Event box added by javascript
.app-box-events {
    position: relative;
    height: 100%;
}

.app-box-footer {
    @include media-breakpoint-up(sm) {
        position: absolute;
        bottom: 0;
    }
}

.app-panel-news-actions {
	text-align: right;
}
