@font-face {
	font-family: 'EB Garamond';
	font-style: italic;
	font-weight: 400;
	src: url(../assets/fonts/EB_Garamond-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/EB_Garamond-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 500;
	src: url(../assets/fonts/EB_Garamond-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 600;
	src: url(../assets/fonts/EB_Garamond-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts/EB_Garamond-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}
